@model Emsal.AdminUI.Models.OfferProductionViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
    decimal tquantity = 0;
}


                    <h4 class="text-danger text-center"> cari səhifə üçün qiymət: @Model.currentPagePrice azn - bütün qiymət: @Model.allPagePrice azn
                        <a href="/OfferProduction/Indexwd?statusEV=@Model.statusEV&productName=@Model.productName&fullAddress=@Model.fullAddress&userInfo = @Model.userInfo&excell=true" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Yüklə
                        </a>
    </h4>

<div class="clearfix"></div>
<br/>

                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
                                <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
                            </div>
                            <table class="table table-bordered">
                                <tbody>
                                    @foreach (var item in Model.ProductionDetailList)
                                    {
                                        <tr>
                                            <td class="col-md-2">
                                                @item.productParentName (@item.productName)
                                            </td>
                                            <td class="col-md-1">
                                                @if (item.productionCalendarList.FirstOrDefault().TypeDescription != null)
{
    <span>@item.productionCalendarList.FirstOrDefault().TypeDescription</span>
}
                                            </td>
                                            <td class="col-md-1">
                                                @item.quantity @item.enumValueName
                                            </td>
                                            <td class="col-md-1">
                                                @item.unitPrice AZN
                                            </td>
                                            <td class="col-md-2">
                                                @item.fullAddress
                                            </td>
                                            <td class="col-md-2">
@if (item.person != null) {
                                                <span>@item.person.Name @item.person.Surname @item.person.FatherName (@item.person.gender)<br />
                                                @item.personAdress (@item.personAdressDesc)</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix">
                        Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
                        @Html.PagedListPager(Model.PagingT, page => Url.Action("Indexwd", new { page, statusEV = Model.statusEV, productName = Model.productName, fullAddress = Model.fullAddress, userInfo = Model.userInfo }))
                    </div>



<script>
    $(document).ready(function () {
        $('#chall').hide();
    });
</script>
