@model Emsal.AdminUI.Models.OfferProductionViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
    
    string m = "";
    string om = "";
    
}

<h4 class="text-danger text-center">
    <a href="/OfferProduction/GroupRegion?countryId=@Model.countryId&addressId=@Model.addressId&productId = @Model.productId&excell=true" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        Yüklə
    </a>
</h4>
<div class="clearfix"></div>
<br />
<div class="box-body no-padding">
    <div class="table-responsive">
        <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
            <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
        </div>
        <table class="table table-bordered">
            <tbody>
    @foreach (var item in Model.OfferPaging)
    {
        m = item.adminName;
        if (m != om)
        {
            if (Model.productId > 0)
            {
            }
            else
            {
            <tr>
                <td colspan="3" class="text-center text-bold" style="background:#f2f2f2;">
                    @m                   
                </td>
            </tr>
                }
            }
            <tr>
                <td class="col-md-4">
                    @if (Model.productId > 0)
                    {
                        <span>@m</span>
                    }
                    else
                    {
                        <span>@item.productName (@item.productParentName)</span>
                    }
                </td>
                <td class="col-md-2">
                    @Custom.ConverPriceToStringDelZero((decimal)item.totalQuantity)
                </td>
                <td class="col-md-2">
                    @item.quantityType
                </td>
            </tr>

        om = m;
    }
        </tbody>
        </table>
    </div>
</div>
<div class="box-footer clearfix">
    Səhifə @(Model.OfferPaging.PageCount < Model.OfferPaging.PageNumber ? 0 : Model.OfferPaging.PageNumber) (cəmi @Model.OfferPaging.PageCount)
    @Html.PagedListPager(Model.OfferPaging, page => Url.Action("GroupRegionn", new { page, countryId = Model.countryId, addressId = Model.addressId, productId = Model.productId }))
</div>
