@model Emsal.AdminUI.Models.OfferProductionViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
    decimal tquantity = 0;
    decimal tprice = 0;
    string pname = "";
    string opname = "";

    string m = "";
    string om = "";
    
}

<h4 class="text-danger text-center">
    cari səhifə üçün qiymət: @Custom.ConverPriceToStringDelZero((decimal)Model.currentPagePrice) azn @*- bütün qiymət: @Model.allPagePrice azn*@
    <a href="/OfferProduction/Indexwd?&addressId=@Model.addressId&startDate = @Model.startDate&endDate=@Model.endDate&excell=true&forma=@Model.forma&userType=@Model.userType&legalStatus=@Model.legalStatus" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        Yüklə
    </a>
</h4>
<div class="clearfix"></div>
<br />
<div class="box-body no-padding">
    <div class="table-responsive">
        <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
            <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
        </div>
        <table class="table table-bordered">
            <tbody>
    @foreach (var item in Model.ProductionDetailList)
    {
        pname = item.person.Surname + " " + item.person.Name + " " + item.person.FatherName;
        Model.auArrName = item.fullAddress.Split(',').ToArray();

        if (Model.auArrName.Count() > 1)
        {
            m = Model.auArrName[1];
        }
        else if(Model.auArrName.Count() == 1)
        {
            m = Model.auArrName[0];
        }
        else
        {
            m = "";
        }
        if (m != om)
        {
            <tr>
                <td colspan="4" class="text-center text-bold" style="background:#f2f2f2;">
                    @m                   
                </td>
            </tr>
        }

        if (pname != opname)
        {
            <tr>
                <td colspan="4" style="background:#f2f2f2;">
                    <b>S.A.A:</b> @pname
                    <div class="clearfix"></div>
                    @item.organizationName
                    <div class="clearfix"></div>
                    <b>Qeydiyyat ünvanı:</b> @item.personAdress (@item.personAdressDesc)
                    <div class="clearfix"></div>
                    <b>Telefon nömrəsi:</b>
                    @string.Join(", ", item.personcomList.Select(x=>x.communication).LastOrDefault())
                    <div class="clearfix"></div>
                    <b>E-poçt:</b> @item.email
                    <div class="clearfix"></div>
                    <b>Bank rekvizitləri:</b>  
                    </td>
                </tr>
                    }
            <tr>
                <td class="col-md-4">
                    @item.productName (@item.productParentName)
                </td>
                <td class="col-md-2">
                    @Custom.ConverPriceToStringDelZero((decimal)item.quantity) @item.enumValueName
                </td>
                <td class="col-md-2">
                    @Custom.ConverPriceToStringDelZero((decimal)item.unitPrice) AZN
                </td>
                <td class="col-md-4">
                    @item.fullAddress
                </td>
            </tr>

        if (Model.forma == "detail")
        {
            if (item.productionCalendarList.Count() > 0)
            {
            <tr>
                <td colspan="4" style="padding:0;">
                    <table class="table" style="margin:0;">
                        <tr>
                            <th>dövrülük - gün, ay, il</th>
                            <th>miqdar</th>
                            <th>miqdar (cəmi)</th>
                            <th>qiymət</th>
                            <th>qiymət (cəmi)</th>
                        </tr>
                        @foreach (var itemc in item.productionCalendarList)
                        {
                            tquantity = (itemc.quantity * itemc.transportation_eV_Id);
                            tprice = (itemc.price * tquantity);
                            <tr>
                                <td>
                                    @if (itemc.TypeDescription != null)
                                    {
                                        <span>@itemc.TypeDescription - </span>
                                    }
                                @itemc.day @itemc.MonthDescription @itemc.year </td>
                                <td> @Custom.ConverPriceToStringDelZero((decimal)itemc.quantity)</td>
                                <td> @Custom.ConverPriceToStringDelZero((decimal)tquantity)</td>
                                <td> @Custom.ConverPriceToStringDelZero((decimal)itemc.price)</td>
                                <td> @Custom.ConverPriceToStringDelZero((decimal)tprice)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            }
        }

        opname = pname;
        om = m;
    }
        </tbody>
        </table>
    </div>
</div>
<div class="box-footer clearfix">
    Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
    @Html.PagedListPager(Model.PagingT, page => Url.Action("Indexwd", new { page, addressId = Model.addressId, startDate = Model.startDate, endDate = Model.endDate, forma=Model.forma, userType = Model.userType, legalStatus = Model.legalStatus }))
</div>

<script>
    $(document).ready(function () {
        $('#chall').hide();
    });
</script>
