@model Emsal.UI.Models.AuthLogin
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/css/jumbotron.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css/ihover.css" rel="stylesheet">
    <link href="~/Content/css/js-image-slider.css" rel="stylesheet">
    <link href="~/Content/css/ddmenu.css" rel="stylesheet">

    <!-- Bootstrap core JS -->

    <script src="~/Content/js/jquery-1.12.3.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Content/js/ie-emulation-modes-warning.js"></script>

    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/ddmenu.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/js-image-slider.js"></script>

    <script src="~/Content/js/emsal.js"></script>
    <script src="~/Content/js/specialSummary.js"></script>



</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home/Index"><h3>tedaruk.az</h3></a>
                </div>

            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="user-login">
                        @*<h3 class="text-bold">Giriş</h3>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Elektron ünvan</label>
                                <input type="email" class="form-control" id="loginEmail" placeholder="Emailinizi daxil edin">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Şifrə</label>
                                <input type="password" class="form-control" id="loginPassword" placeholder="Şifrənizi daxil edin">
                            </div>
                            <a href="">Şifrəmi unutdum</a>
                        </form>
                        <form class="form-inline m-top">
                            <div class="checkbox">
                                <label class="font_size12 f-left">
                                    <input type="checkbox"> Yadda saxla
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary f-right" id="loginToSpecialSummary">Daxil ol</button>
                        </form>*@
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(x => x.Username)
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Password)
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                <input type="submit" value="Daxil Ol" />
                            </div>
                        }

                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="register-suggest-only">
                        <h4 class="text-bold">Qeydiyyatdan keçməmisiniz?</h4>
                        <p>Üzvlərimizin xüsusi xidmətlərimizdən faydalana bilməsi qeydiyyatdan keçin</p>
                        <a href="" class="btn btn-default text-blue text-bold">İndi qeydiyyatdan keç</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Home/Footer.cshtml")

    <script>
        $("#loginToSpecialSummary").on("click", function () {
           // window.location.href = "/SpecialSummary/PhoneRegister1";
            return false;
        })
    </script>


</body>
</html>
