@model Emsal.UI.Models.SpecialSummaryViewModel
@{
    ViewBag.Title = "Offers";
}
@using PagedList.Mvc;

@{
    if (Model.OfferProductionList.Count == 0)
    {
        <div class='white_fon'>
            <p>Heç nə tapılmadı</p>
        </div>

    }
    else
    {

        foreach (var item in Model.PagingConfirmedOffer)
        {
            
            DateTime endDate = new DateTime((long)item.ProductEndDate);

            <div class='well'>
                <div class="row">
                    <div class="col-md-3">
                        <span style="color:red">Məhsulun adı : @item.ProductName - @item.ParentName</span><br /><br />
                        @{
                            if (item.ProductProfilePicture != null)
                            {
                                <a href="/SpecialSummary/OfferProductInfo?Id=@item.ProductId"><img src=@item.ProductProfilePicture class="img-responsive thumbnail"></a>
                            }
                            else
                            {
                                <a href="/SpecialSummary/OfferProductInfo?Id=@item.ProductId"><img src='~/Content/UI/images/noimage.png' class="img-responsive thumbnail" /></a>
                            }
                        }
                    </div>
                    <div class="col-md-9 well">
                        <h4>Çatdırılma tarixləri</h4><br />

                        <table class="table table-bordered">
                            <thead>
                                <tr class="success">
                                    <th class="col-md-3 text-center">Tarix</th>
                                    <th class="col-md-2 text-center">Saat</th>
                                    <th class="col-md-4 text-center">Miqdar</th>
                                    <th class="col-md-4 text-center">Qiymət</th>
                                    <th class="col-md-3 text-center">Çatdırılma qrafiki</th>
                                </tr>
                            </thead>

                            @foreach (var itemmm in item.DemandCalendarList)
                            {
                                <tbody>
                                    <tr class="info text-center">
                                        <td>@itemmm.day @itemmm.month @itemmm.year</td>
                                        <td>@itemmm.ocklock</td>
                                        <td>@itemmm.quantity @item.QuantityType</td>
                                        <td>@itemmm.price AZN</td>
                                        <td>@itemmm.shipmetType</td>
                                    </tr>
                                </tbody>
                            }

                            </table>

                            <div><span>Ümumi təklifin qiyməti: <span style="color:red"> <b> @item.ProductTotalPrice AZN </b> </span>  Təklifin bitmə tarixi: <span style="color:red"> <b> @endDate.Day/@endDate.Month/@endDate.Year </b> </span> Ümumi təklifin miqdarı: <span style="color:red"><b>@item.ProductQuantity @item.QuantityType </b></span> </span></div>
                    </div>
                    <div class='btn-group'>
                        <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Əməliyyatlar <span class='caret'></span></button>
                        <ul class='dropdown-menu'>
                            <li><a href='/SpecialSummary/PutToOffAirProduction?offerId=@item.ProductId'>Elanı çıxart</a></li>
                            <li role='separator' class='divider'></li>
                            <li><a href=''>Qeyd</a></li>
                        </ul>
                    </div>
                </div>


            </div>
                            }

        <div class="box-footer clearfix">
            Səhifə @(Model.PagingConfirmedOffer.PageCount < Model.PagingConfirmedOffer.PageNumber ? 0 : Model.PagingConfirmedOffer.PageNumber) (cəmi @Model.PagingConfirmedOffer.PageCount)
            @Html.PagedListPager(Model.PagingConfirmedOffer, page => Url.Action("Index","SpecialSummary", new { page }))
        </div>

    }
}
