@model Emsal.UI.Models.SpecialSummaryViewModel
@{
    ViewBag.Title = "Orders";
    Layout = "";
}
    
@using PagedList.Mvc;
@{
    if (Model.DemandProductionList.Count == 0)
    {
        <div class='white_fon'>
            <p>Heç nə tapılmadı</p>
        </div>

    }
    else
    {
        foreach (var item in Model.PagingDemand)
        {
            <div class="white_fon">
                <div class="row" style="color:red; font-size:15px">
                    <div class="col-md-8">
                        @item.ProductName - @item.ParentName
                    </div>
                    <div class="col-md-4">
                        Məhsulun miqdarı : @item.ProductQuantity  @item.QuantityType
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-3">
                        @{
                            if (item.ProductProfilePicture != null)
                            {
                                <a href="/GovernmentOrganisationSpecialSummary/DemandProductInfo?Id=@item.ProductId"><img src=@item.ProductProfilePicture class="img-responsive thumbnail"></a>
                            }
                            else
                            {
                                <a href="/GovernmentOrganisationSpecialSummary/DemandProductInfo?Id=@item.ProductId"><img src='~/Content/UI/images/noimage.png' class="img-responsive thumbnail" /></a>
                            }
                        }
                    </div>

                    @if (item.DemandCalendarList.Count > 0)
                    {
                        <div class="col-md-9">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="success">
                                        <th class="col-md-3 text-center">Tarix</th>
                                        <th class="col-md-2 text-center">Saat</th>
                                        <th class="col-md-4 text-center">Miqdar</th>
                                        <th class="col-md-3 text-center">Çatdırılma qrafiki</th>
                                    </tr>
                                </thead>
                                @foreach (var itemmm in item.DemandCalendarList)
                                {
                                    <tbody>
                                        <tr class="info text-center">
                                            <td>@itemmm.day @itemmm.month @itemmm.year</td>
                                            <td>@itemmm.ocklock</td>
                                            <td>@itemmm.quantity @item.QuantityType</td>
                                            <td>@itemmm.shipmetType</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    }
                </div>
            </div>
        }
         <div class="box-footer clearfix">
             Səhifə @(Model.PagingProduction.PageCount < Model.PagingProduction.PageNumber ? 0 : Model.PagingProduction.PageNumber) (cəmi: @(Model.PagingProduction.PageCount - 1 ) səhifə, @Model.offerCount Tələbat) 
            @Html.PagedListPager(Model.PagingProduction, page => Url.Action("OnAirDemands", "GovernmentOrganisationSpecialSummary", new { page }))
        </div>
    }

  @Html.HiddenFor(x => x.actionName);
}


