@model Emsal.AdminUI.Models.DemandProductionViewModel
@*@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Proqnoz</h3>
                    <!-- /.box-tools -->
                </div>
                <div class="clearfix"></div>
                <br />

                <div class="form-group">
                    <div class="col-md-1" id="divYear">
                        <label>İl</label><br />
                        @Html.Action("Year", "DemandProduction", new { actionName = "DemandByForganistion" })
                    </div>

                    <div class="col-md-3">
                        <label>İqdisadi zona</label><br />
                        @Html.Action("EconomicZone", "DemandProduction", new { actionName = "DemandByForganistion" })
                    </div>

                    <div class="col-md-2">
                        <label>Məhsulun ünvanı</label><br />
                        <div id="adminUnit">
                            @Html.Action("AdminUnit", "DemandProduction", new { actionName = "DemandByForganistion" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Təşkilat</label><br />
                        <div  id="organisation">
                            @Html.Action("Organisation", "DemandProduction", new { actionName = "DemandByForganistion" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Məhsulun adı</label><br />
                        <div id="adminUnit">
                            @Html.Action("ProductCatalogForSale", "DemandProduction", new { actionName = "DemandByForganistion" })
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <label>Başlanğıc tarix</label><br />
                        <input id="startDate" class="text-box single-line" type="datetime">
                    </div>
                    <div class="col-md-2">
                        <label>Son tarix</label><br />
                        <input id="endDate" class="text-box single-line" type="datetime">
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label><br />
                        <div class="btn btn-primary" id="btnSearch" onclick="SearchTimePeriod('1', 'DemandProduction', 'DemandByForganistion')"><span class="glyphicon glyphicon-search"></span> Axtar</div>
                        <div class="btn btn-danger" id="btnClear" onclick="SearchTimePeriod('2', 'DemandProduction', 'DemandByForganistion')"><span class="glyphicon glyphicon-remove"></span> İmtina</div>
                    </div>
                </div>


                <div class="clearfix"></div>
                <br />
                <table class="table table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            @*<th class="col-md-1">
                                    Bölgə
                                </th>*@
                            <th class="col-md-1">
                                Şəhər
                            </th>
                            <th class="col-md-2">
                                Vöen
                            </th>
                            <th class="col-md-1">
                                Müəssisə
                            </th>
                            <th class="col-md-1">
                                Ərzaq məhsullarının adı, növü və spesifikasiyasi
                            </th>
                            <th class="col-md-1">
                                Ölçü vahidi
                            </th>
                            <th class="col-md-1">
                                Miqdar
                            </th>
                            <th class="col-md-1">
                                Vahidin qiyməti, AZN
                            </th>
                            <th class="col-md-1">
                                Ümumi dəyəri, AZN
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialDemandByForganistion")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/pagedList.js"></script>


