@model Emsal.AdminUI.Models.DemandProductionViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>&nbsp;</h2>

<div class="row">
         <div class="col-md-6 col-md-offset-3">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">----</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="clear-both"></div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="box-body">
             <div class="col-md-12">
                    <div class="form-group">
                @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.message, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
            </div>
                  </div>

    </div>

   <div class="box-footer">
                <input type="submit" value="Təsdiqlə" class="btn btn-primary active" style="float:right;" />
            </div>

            }
            </div>
        </div>
    </div>