@model Emsal.AdminUI.Models.DemandProductionViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
    decimal tquantity = 0;
    var tname = "";
    var otname = "";
}

               <h4 class="text-danger text-center"> cari səhifə üçün qiymət: @Custom.ConverPriceToStringDelZero((decimal)Model.currentPagePrice) azn - bütün qiymət: @Custom.ConverPriceToStringDelZero((decimal)Model.tPrice) azn
                   <a href="/DemandProduction/DemandProductDetailInfoForAccounting?productId=@Model.productId&startDate = @Model.startDate&endDate=@Model.endDate&excell=true" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
                       <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                       Yüklə
                   </a>
    </h4>

                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-bordered">
                                <tbody>
                                    @foreach (var item in Model.ProductionDetailList)
                                    {
                                        tname = item.name;
                                        if (tname != otname)
                                        {
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                @tname
                                                <div class="clearfix"></div>
                                                (@item.fullAddress (@item.addressDesc))
                                            </td>
                                        </tr>
                                        }
                                        <tr>
                                            @*<td class="col-md-2">
                                                @item.name
                                            </td>*@
                                            <td class="col-md-4">
                                                @item.productName (@item.productParentName)
                                            </td>
                                            <td class="col-md-2">
                                                @Custom.ConverPriceToStringDelZero((decimal)item.quantity) @item.kategoryName
                                            </td>
                                            <td class="col-md-2">
                                                @Custom.ConverPriceToStringDelZero((decimal)item.unitPrice) azn
                                            </td>
                                            <td class="col-md-2">
                                                @Custom.ConverPriceToStringDelZero((decimal)item.totalPrice) azn
                                            </td>
                                            <td class="col-md-2">
                                                @if (item.productionCalendarList!=null)
                                                {
                                                     <span>@item.productionCalendarList.FirstOrDefault().TypeDescription</span>
                                                }
                                            </td>
                                            @*<td class="col-md-2">
                                                @item.fullAddress (@item.addressDesc)
                                            </td>*@
                                        </tr>
                                        otname = tname;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix">
                        Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
                        @Html.PagedListPager(Model.PagingT, page => Url.Action("DemandProductDetailInfoForAccounting", new { page, productId = Model.productId, startDate = Model.startDate, endDate = Model.endDate }))
                    </div>