@model Emsal.AdminUI.Models.DemandProductionViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
    decimal tquantity = 0;

    string oppName = "";
}

               <h4 class="text-danger text-center"> &nbsp;
                   <a href="/DemandProduction/DemandProductionAmountOfEachProduct?productName=@Model.productName&startDate = @Model.startDate&endDate=@Model.endDate&excell=true" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
                       <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                       Yüklə
                   </a>
    </h4>
<div class="clearfix"></div>
<br />

                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
                                <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
                            </div>
                            <table class="table table-hover table-striped table-bordered">
                                <tbody>
                                    @foreach (var item in Model.DemandOfferDetailPaging)
                                    {
                                        if (oppName != item.productParentName)
                                        {
                                            <tr>
                                                <td colspan="2" class="text-center text-bold">
                                                    @item.productParentName
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td class="col-md-3">
                                                @item.productName
                                            </td>
                                            <td class="col-md-1">
                                                @item.kategoryName
                                            </td>
                                            <td class="col-md-1">
                                                @Custom.ConverPriceToStringDelZero((decimal)item.quantity)
                                            </td>
                                            <td class="col-md-1">
                                                @Custom.ConverPriceToStringDelZero((decimal)item.unitPrice)
                                            </td>
                                        </tr>
                                        oppName = item.productParentName;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix">
                        Səhifə @(Model.DemandOfferDetailPaging.PageCount < Model.DemandOfferDetailPaging.PageNumber ? 0 : Model.DemandOfferDetailPaging.PageNumber) (cəmi @Model.DemandOfferDetailPaging.PageCount)
                        @Html.PagedListPager(Model.DemandOfferDetailPaging, page => Url.Action("DemandProductionAmountOfEachProduct", new { page, productName = Model.productName, startDate = Model.startDate, endDate = Model.endDate }))
                    </div>