@model Emsal.AdminUI.Models.DemandProductionViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";

    string oregName = "";
    string regName = "";
}
<h4 class="text-danger text-center">
    <a href="/DemandProduction/TotalDemandOffersn?productId=@Model.productId&userType=@Model.userType&fin=@Model.fin&voen=@Model.voen&excell=true" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        Yüklə
    </a>
</h4>
<div class="clearfix"></div><br />
<div class="box-body no-padding">
    <div class="table-responsive">
        <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
            <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <tbody>
                @foreach (var item in Model.DemandDetailList)
                {
                    regName = item.regionName;

                    if (regName != oregName)
                    {
                        <tr>
                            <td colspan="7" class="text-center text-bold">
                                @regName
                            </td>
                        </tr>
                    }

                        <tr>
                            <td class="col-md-1">
                                @item.parentName (@item.productName)
                            </td>
                            <td class="col-md-1">
                                @Custom.ConverPriceToStringDelZero((decimal)item.totalQuantity) @item.kategoryName
                            </td>
                            <td class="col-md-1">
                                @Custom.ConverPriceToStringDelZero((decimal)item.unit_price)
                            </td>
                            <td class="col-md-1">
                                @Custom.ConverPriceToStringDelZero((decimal)item.totalPrice)
                            </td>
                            <td class="col-md-1">
                                @Custom.ConverPriceToStringDelZero((decimal)item.offerList.Where(x=>x.roleId==15).Sum(x=>x.totalQuantity))
                            </td>
                            <td class="col-md-1">
                               @Custom.ConverPriceToStringDelZero((decimal)item.offerList.Where(x => x.roleId == 11).Sum(x => x.totalQuantity))
                            </td>
                            <td class="col-md-1">
                                @Custom.ConverPriceToStringDelZero((decimal)item.offerList.Where(x => x.roleId == 15 || x.roleId==11).Sum(x => x.totalQuantity))
                            </td>
                        </tr>
                    oregName = regName;
                }
            </tbody>
        </table>
    </div>
</div>
<div class="box-footer clearfix">
    Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
    @Html.PagedListPager(Model.PagingT, page => Url.Action("TotalDemandOffersn", new { page, productId = Model.productId, userType = Model.userType, fin = Model.fin, voen = Model.voen }))
</div>



<script>
    $(document).ready(function () {
        $('#chall').hide();
    });
</script>
