@model Emsal.AdminUI.Models.DemandProductionViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
    decimal tquantity = 0;
    string auname = "";
}
<h4 class="text-danger text-center">
    <a href="/DemandProduction/DemandByForganistion?economicZoneId=@Model.economicZoneId&addressId=@Model.addressIdString&organisationId=@Model.organisationId&productId=@Model.productId&year=@Model.year&startDate = @Model.startDate&endDate=@Model.endDate&excell=true" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        Yüklə
    </a>
</h4>
<div class="clearfix"></div><br />
<div class="box-body no-padding">
    <div class="table-responsive">
        <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
            <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <tbody>
                @foreach (var item in Model.OrganizationDetailList)
                {
                    tquantity = item.quantity * item.unit_price;

                    Model.auArrName = item.fullAddress.Split(',').ToArray();
                    if (Model.auArrName.Count() > 1)
                    {
                        auname = Model.auArrName[1];
                    }
                    else if (Model.auArrName.Count() == 1)
                    {
                        auname = Model.auArrName[0];
                    }
                    else
                    {
                        auname = "";
                    }

                    <tr>
                        <td class="col-md-1">
                            @item.regionName
                        </td>
                        <td class="col-md-1">
                            @auname
                        </td>
                        <td class="col-md-2">
                            @item.managerSurname @item.managerName @item.fatherName
                            @*<div class="clearfix"></div>
                            @item.fullAddress*@
                            <div class="clearfix"></div>
                            <b>VÖEN:</b> @item.voen
                            <div class="clearfix"></div>
                            <b>FİN:</b> @item.pinNumber
                        </td>
                        <td class="col-md-1">
                            @item.organizationName
                        </td>
                        <td class="col-md-1">
                            @item.prodcutName (@item.parentProductName)
                        </td>
                        <td class="col-md-1">
                            @item.unitOfMeasurement
                        </td>
                        <td class="col-md-1">
                            @Custom.ConverPriceToStringDelZero((decimal)item.quantity)
                        </td>
                        <td class="col-md-1">
                            @Custom.ConverPriceToStringDelZero((decimal)item.unit_price)
                        </td>
                        <td class="col-md-1">
                            @Custom.ConverPriceToStringDelZero((decimal)tquantity)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="box-footer clearfix">
    Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
    @Html.PagedListPager(Model.PagingT, page => Url.Action("DemandByForganistion", new { page, economicZoneId=Model.economicZoneId, addressId=Model.addressIdString, organisationId=Model.organisationId, productId = Model.productId, year=Model.year, startDate = Model.startDate, endDate = Model.endDate }))
</div>



<script>
    $(document).ready(function () {
        $('#chall').hide();
    });
</script>
