@model Emsal.UI.Models.ProductCatalogViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "";
    Model.prodAltName = "";
    Model.prodName = "";
    int i = 0;
}

<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
</div>
<table class="table table-bordered ">
    <tbody>
        @foreach (var item in Model.PagingProduction)
        {
            <tr>
                <td class="col-sm-1">
                    @if (item.productDocumentList.Count() > 0)
                {
                        <img style="margin:0;padding:0;" class="img-responsive thumbnail" src="@item.productDocumentList.FirstOrDefault().documentUrl@item.productDocumentList.FirstOrDefault().documentName" />
                    }
                    else
                    {
                        <img style="margin:0;" class="img-responsive thumbnail" src="~/Content/UI/images/noimage.png" />
                    }
                </td>
                <td class="col-sm-6" style="vertical-align:middle;">@item.productName (@item.productParentName)</td>
                <td class="col-sm-2" style="vertical-align:middle;">@item.quantity @item.enumValueName</td>
                <td class="col-sm-2" style="vertical-align:middle;">@item.unitPrice AZN</td>
                <td class="col-sm-1" onclick="location.href = '/OfferHome/OfferProductionDetail/@item.productionID'" style="cursor:pointer; vertical-align:middle;text-align:center;color:#428bca;">
                    <i class="fa fa-info-circle fa-lg"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PagingProduction.Count() == 0)
{
    <h5 class="text-center">Qeyd tapılmadı</h5>
}
<div class="navig">
    <div class="clearfix"></div>
    @if (Model.noPaged == 0)
    {
        <div class="box-footer clearfix">
            Səhifə @(Model.PagingProduction.PageCount < Model.PagingProduction.PageNumber ? 0 : Model.PagingProduction.PageNumber) (cəmi @Model.PagingProduction.PageCount)
            @Html.PagedListPager(Model.PagingProduction, page => Url.Action("OfferProduction", new { page, productName = Model.pName, productId = Model.productId }))
        </div>
    }
</div>


