
@model Emsal.UI.Models.ProductCatalogViewModel
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "ProductionCalendar";
    Layout = "";
    decimal tquantity = 0;
}

@if (Model.LProductionCalendarDetailList.Count() > 0)
{

        <table class="table" style="margin:0;">
            <tbody>
            <tr>
                <th>Dövrülük</th>
                <th>İl</th>
                <th>Ay</th>
                <th>Miqdarı</th>
                <th>Miqdarı (cəmi)</th>
                <th>Qiyməti</th>
            </tr>
            @{
                foreach (var item in Model.LProductionCalendarDetailList)
                {
                    tquantity = ((decimal)item.quantity * (decimal)item.transportation_eV_Id);
                    <tr>
                        <td>
                            @if (item.TypeDescription != null)
                                {
                                    <span>@item.TypeDescription</span>
                                }
                        </td>
                        <td> @item.year </td>
                        <td> @item.MonthDescription</td>
                        <td> 
                            @if ((decimal)Math.Round(item.quantity, 2) > (int)item.quantity)
                            {
                                @Custom.ConverPriceToStringDelZero((decimal)item.quantity)
                            }
                            else
                            {
                                long qi = (int)Math.Round(item.quantity, 0);
                                <span>@Custom.ConverPriceToStringDelZero((decimal)qi)</span>
                            }

                         </td>
                        <td> 
                            @if ((decimal)Math.Round(tquantity, 2) > (int)tquantity)
                            {
                                @Custom.ConverPriceToStringDelZero((decimal)tquantity)
                            }
                            else
                            {
                                long qi = (int)Math.Round(tquantity, 0);
                                <span>@Custom.ConverPriceToStringDelZero((decimal)qi)</span>
                            }
                        
                        </td>
                        <td> @Custom.ConverPriceToStringDelZero((decimal)item.price)</td>
                    </tr>
                }
            }
                </tbody>
        </table>

                }