@*@model IEnumerable<Emsal.AdminUI.Models.EnumCategoryViewModel>*@
@model Emsal.AdminUI.Models.Organisation
@using PagedList.Mvc;

@{
    ViewBag.Title = "Rol Management";
    Layout = "";
}

<p>

</p>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3>İstifadəçilər</h3>
                    @*<h3 class="box-title col-md-12">EnumCategory <a class="btn btn-primary pull-right" href="@Url.Action("Create","EnumCategory")"><span class="glyphicon glyphicon-plus"></span> Əlavə et</a></h3>*@
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                Rollar
                            </th>
                        </tr>


                        @foreach (var item in Model.Paging)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    <a href="/RoleManagement/SelectedUserRoles?Id=@item.Id" class="badge bg-light-blue"><span class="glyphicon glyphicon-pencil"></span> Düzəliş Et</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <!-- /.box-body -->


                <div class="box-footer clearfix">
                    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
                    @Html.PagedListPager(Model.Paging, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>

