@model Emsal.UI.Models.PotentialClientViewModel

@{
    ViewBag.Title = "ProductCatalog";
    Layout = "";
    long itempid = 0;
}


@if (Model.PRMAdminUnitList.Count > 0)
{
    <div class="form-group col-md-3">
        <select required name="adfuId[@{ @Model.arrNum }]" onchange="GetAdminUnitFU(this)" class="form-control unicase-form-control select select2">
            <option value="">Seçim edin</option>
            @foreach (var item in Model.PRMAdminUnitList)
            {
                if (item.Name == "Azərbaycan Respublikası")
                {
                    <option selected value="@item.Id">@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <span data-valmsg-replace="true" data-valmsg-for="adfuId[@{ @Model.arrNum }]" class="field-validation-valid text-danger"></span>
    </div>
    }
    else
    {
        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.descAddressFU, htmlAttributes: new { @class = "control-label" })
                <input type="text" name="descAddressFU" id="descAddressFU" placeholder="məs: Azadlıq prospekti 22, mənzil 33" class="form-control">
            </div>
        </div>
    }





