@model Emsal.UI.Models.ContactViewModel
    
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="center">
    <div class="container">
        <div class="row inner-bottom-sm">
            <div class="contact-page">
                <div class="col-md-12 contact-map outer-bottom-vs">
              
                    <div style="width:500px;overflow:hidden;height:500px;width:100%;"><div id="embed-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Baku,+Azerbaijan&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-maps-code" href="http://www.dog-checks.com" id="get-map-data">dog-checks.com</a>
                    <style>
                        #embed-map-display img {
                            max-width: none !important;
                            background: none !important;
                        }
                    </style></div>
                    <script src="https://www.dog-checks.com/google-maps-authorization.js?id=59da8d99-9c3f-8310-b52f-64280deceaf9&c=google-maps-code&u=1468923566" defer="defer" async="async"></script>


                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.0080692193424!2d80.29172299999996!3d13.098675000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526f446a1c3187%3A0x298011b0b0d14d47!2sTransvelo!5e0!3m2!1sen!2sin!4v1412844527190" height="450" style="border:0;width:100%;"></iframe>*@
                </div>
            <div class="clearfix"></div>
            <br />
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
                <div class="col-md-9 contact-form">
                    <div class="col-md-12 contact-title">
                        <h2>Müraciət göndər</h2><br />
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            @Html.LabelFor(model => model.nameSurnameFathername, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.nameSurnameFathername, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.nameSurnameFathername, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.mail, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.phone, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.appealBody, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.appealBody, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.appealBody, "", new { @class = "text-danger" })
                        </div>
                    </div>
                  
                    <div class="clearfix"></div>
                    <button class="btn btn-primary btn-lg pull-right" type="submit">
                        <i class="glyphicon glyphicon-ok"></i>&nbsp;Təsdiqlə
                    </button>
                    <br />
                    <br />

                </div>
                <div class="col-md-3 contact-info">
                    <div class="contact-title">
                        <h2>&nbsp;</h2><br />
                    </div>
                    <div class="clearfix address">
                        <span class="contact-i"><i class="fa fa-map-marker"></i></span>
                        <span class="contact-span">Bakı şəhəri, Azadlıq prospekri 1.</span>
                    </div>
                    <div class="clearfix phone-no">
                        <span class="contact-i"><i class="fa fa-mobile"></i></span>
                        <span class="contact-span">
                            (012) 444 4444<br>
                            (012) 555 5555
                        </span>
                    </div>
                    <div class="clearfix email">
                        <span class="contact-i"><i class="fa fa-envelope"></i></span>
                        <span class="contact-span">info@emsal.az</span>
                    </div>

                </div>

}
            </div><!-- /.contact-page -->
        </div><!-- /.row -->
    </div>
</section>

<br />