@model Emsal.UI.Models.ProductCatalogViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
    Model.prodAltName = "";
    Model.prodName = "";
}

<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="badge " style="margin-top: -10px; float: right; margin-right: -5px;background:#D43F3A;">@Model.itemCount</span>
</div>
<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model.PagingUserInfo)
        {
            //if (item.pinNumber != "" || item.voen != "") { 
            <tr>
                <td class="col-sm-4 text-black">@item.name</td>
                @*<td class="col-sm-2">@item.surname</td>*@
                <td class="col-sm-2 text-black">@item.adminUnitName</td>
                <td class="col-sm-5 text-black">@item.parentAdminUnitName</td>
                <td class="col-sm-1 text-center">
                    @if (item.pinNumber != "")
                    {
                        <a target="_blank" href="/Login?uid=@item.userID&type=1"><span class="glyphicon glyphicon-user"></span></a>
                    }
                    else if (item.voen != "")
                    {
                        <a target="_blank" href="/Login?uid=@item.userID&type=2"><span class="fa fa-building-o"></span></a>
                    }
                
                </td>
            </tr>
                //}
            }

    </tbody>
</table>

<div class="clearfix"></div>
<div class="box-footer clearfix text-black">
    Səhifə @(Model.PagingUserInfo.PageCount < Model.PagingUserInfo.PageNumber ? 0 : Model.PagingUserInfo.PageNumber) (cəmi @Model.PagingUserInfo.PageCount)
    @Html.PagedListPager(Model.PagingUserInfo, page => Url.Action("UserInfo", new { page, addressId=Model.addressId, sort = Model.sort, name=Model.name, address = Model.address, products = Model.products }))
</div>




