@model Emsal.UI.Models.ProductCatalogViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
    Model.prodAltName = "";
    Model.prodName = "";
    int i = 0;
}

<div id="menu-container">
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="right_below" id="center" style="padding-top:0px;">

                <div class="elanlar">
                    <div class="thumbnail col-md-12" style="padding: 20px;opacity:0.8;">
                        <h2 style="color: #000; margin-top: 10px; text-align:center;" class="text-bold mt-50">ELANLAR</h2>
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th class="col-sm-1" style="text-align:center;">Şəkil</th>
                                    <th>Məhsulun dı</th>
                                    <th>Çəkisi</th>
                                    <th>Qiyməti</th>
                                    <th style="text-align:center;">Keçid</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Paging)
                                {
                                    <tr>
                                        <td>
                                            @if (item.productCatalogDocumentList.Count() > 0)
                {
                                                <img style="margin:0;" class="img-responsive thumbnail" src="@item.productCatalogDocumentList.FirstOrDefault().documentUrl@item.productCatalogDocumentList.FirstOrDefault().documentName" />
                                            }
                                            else
                                            {
                                                <img style="margin:0;" class="img-responsive thumbnail" src="~/Content/UI/images/noimage.png" />
                                            }
                                        </td>
                                        <td style="vertical-align:middle;">@item.announcementDetail.announcement.product_name (@item.announcementDetail.parentName@item.parentName)</td>
                                        <td style="vertical-align:middle;">@item.announcementDetail.announcement.quantity @item.announcementDetail.announcement.quantity_type_Name</td>
                                        <td style="vertical-align:middle;">@item.announcementDetail.announcement.unit_price AZN</td>
                                        <td onclick="location.href = '/Home/AnnouncementDetail/@item.announcementDetail.announcement.Id'" style="cursor:pointer; vertical-align:middle;text-align:center;color:#428bca;">
                                            <i class="fa fa-info-circle fa-lg"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model.Paging.Count() == 0)
                        {
                            <h5 class="text-center">Qeyd tapılmadı</h5>
                        }

                        <div class="navig">
                            <div class="clearfix"></div>

                            @if (Model.noPaged == 0)
                            {
                                <div class="box-footer clearfix">
                                    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
                                    @Html.PagedListPager(Model.Paging, page => Url.Action("Announcement", new { page }))
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clear"></div>
    </div>
    </div>




@*<a href="/Home/AnnouncementDetail/@item.announcementDetail.announcement.Id" class="btn btn-default text-bold f-left">BAX</a>*@


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-black text-bold" id="myModalLabel">ƏTRAFLI</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-bold text-black">MAL ƏTİ</h4>
                        <img src="img/meat.png">
                        <h4 class="text-bold text-red">9 AZN</h4>
                    </div>
                    <div class="col-sm-8">
                        <dl class="dl-horizontal">
                            <dt class="text-black">Növü:</dt>
                            <dd class="text-red text-left">Mal əti (təzə kəsilmiş)</dd>
                            <dt class="text-black">Həcmi:</dt>
                            <dd class="text-red text-left">100 ton</dd>
                            <dt class="text-black">Elanın b.t.:</dt>
                            <dd class="text-red text-left">15.09.2016</dd>
                            <dt class="text-black">Elanın s.t.:</dt>
                            <dd class="text-red text-left">15.11.2016</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- 	<div class="elan_insert">
                        <h4 class="text-left">Elanın nömrəsi:  <span class="text-bold">125</span></h4>
                        <h4 class="text-left">Elanı yerləşdirənin adı:  <span class="text-bold">AGROMARKET MMC</span></h4>
                        <h4 class="text-left">Telefon:  <span class="text-bold">(+99450) 2222222</span></h4>
                        <h4 class="text-left">E-mail:  <span class="text-bold">info@agromarket.az</span></h4>
                    </div> -->

                <div class="note">
                    <h3 class="text-bold text-center text-black">QEYD</h3>
                    <p class="text-left">İnsan üçün ən təhlükəli heyvan inək elan olunmuşdur. Amerikalı alimlərin fikrincə, bu məməli heyvan ətraf mühit üçün çox böyük gərginlik yaradır. Bu barədə BMT-nin Elm və İctimai Maraqlar Mərkəzinə istinadən Washinqton Profile qəzeti məlumat verir.</p>
                </div>
            </div>
        </div>
    </div>
</div>