@model Emsal.UI.Models.ProductCatalogViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
    Model.prodAltName = "";
    Model.prodName = "";
    string link = "";
    string icon = "";
}
<style>
    .tr:hover {
        background: #089c07;
    }
</style>
<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="badge " style="margin-top: -10px; float: right; margin-right: -5px;background:#D43F3A;position:relative;z-index:1000;">@Model.itemCount</span>
</div>
<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model.PagingUserInfo)
        {
            var sd = item.fullAddress.Split(',').ToArray();
            if (sd.Length > 1)
            {
                item.adminUnitName = sd[1];
            }
            else
            {
                item.adminUnitName = sd[0];
            }

            if (item.pinNumber != "")
            {
                link="/Login?uid="+item.userID+"&type=1";
                icon="glyphicon glyphicon-user";
            }
            else if (item.voen != "")
            {
                link = "/Login?uid=" + item.userID + "&type=2";
                icon = "fa fa-building-o";
            }

            <tr onclick="location.href = '@link'" style="cursor:pointer;" class="tr">
                <td class="col-sm-4 text-black">@item.name</td>
                <td class="col-sm-2 text-black">@item.adminUnitName</td>
                <td class="col-sm-5 text-black">@item.parentAdminUnitName</td>
                <td class="col-sm-1 text-center">
                       <span class="@icon text-primary"></span>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="clearfix"></div>
<div class="box-footer clearfix text-black">
    Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
    @Html.PagedListPager(Model.PagingT, page => Url.Action("UserInfo", new { page, addressId=Model.addressId, rId = Model.rId, sort = Model.sort, name=Model.name, address = Model.address, productId = Model.productId }))
</div>




