@model Emsal.UI.Models.OfferMonitoringViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
    string faiz = "";
    string manat = "";
}

<h4 class="text-danger text-center">
    <a href="/PA/TotalDemandOffersGroupDetail?productId=@Model.productId&userTypeId=@Model.userTypeId&monthEVId=@Model.monthEVId&fin=@Model.fin&voen=@Model.voen&excell=true" class="btn btn-warning btn-sm active pull-right" style="margin-top: -5px;margin-right:5px;">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        Yüklə
    </a>
</h4>
<div class="clearfix"></div><br />

<div class="table-responsive">
    <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
        <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
    </div>

    <table class="table table-hover table-striped table-bordered">
        <tbody>
            <tr>
                <th class="col-md-1">
                    Ərzaq məhsullarının adı
                </th>
                <th class="col-md-1">
                    Malın kodu
                </th>
                <th class="col-md-1">
                    Ərzaq məhsullarının növü
                </th>
                <th class="col-md-1">
                    Tələbatın həcmi (miqdar)
                </th>
                <th class="col-md-1">
                    Ölçü vahidi
                </th>
                <th class="col-md-1">
                    Qiymət (AZN)
                </th>
                <th class="col-md-1">
                    Cəmi (AZN)
                </th>
                <th class="col-md-6">
                    Satıcı və ya istehsalçının adı
                </th>
                <th class="col-md-1">
                    Satıcı və ya istehsalçının VÖEN-i
                </th>
                <th class="col-md-1">
                    Satıcı və ya istehsalçı ilə alqı-satqı müqaviləsinin tarixi və nömrəsi
                </th>
                <th class="col-md-1">
                    Malın təklif edilən qiyməti (manatla)
                </th>
                <th class="col-md-1">
                    Müqavilə üzrə malın qiyməti (ƏDV-siz)
                </th>
                <th class="col-md-1">
                    Ticarət əlavəsi (manatla)
                </th>
                <th class="col-md-1">
                    Ticarət əlavəsi (faizlə)
                </th>
                <th class="col-md-1">
                    Təchizat qiyməti (manatla ƏDV-siz)
                </th>
                <th class="col-md-1">
                    Təchizat qiyməti (manatla ƏDV ilə birlikdə)
                </th>
                <th class="col-md-1">
                    Təklifin həcmi (miqdarı)
                </th>
                <th class="col-md-1">
                    Müqavilə üzrə malın həcmi (miqdarı)
                </th>
                <th class="col-md-1">
                    Təklifin ümumi dəyəri (manatla)
                </th>
                <th class="col-md-1">
                    Müqavilənin ümumi dəyəri (ƏDV-siz, manatla)
                </th>
                <th class="col-md-1">
                    Müqavilənin ümumi dəyəri (ƏDV ilə birlikdə,manatla)
                </th>
                <th class="col-md-1">
                    Tədarükçünün növü (istehsalçı satıcı və ya idxalçı)
                </th>
                <th class="col-md-1">
                    Tədarükçünün hansı növ vergi ödəyicisi olması (ƏDV, sadələşdirilmiş K/T məhsulu istehsalçısı)
                </th>
            </tr>

            @foreach (var itemo in Model.DemanOfferProductionList)
            {
                Model.ContractDetailTemp = new Emsal.WebInt.EmsalSrv.tblContractDetailTemp();
                manat = "";
                faiz = "";
                
                if (itemo.contractTempList.Count() > 0)
                {
                    Model.ContractDetailTemp = itemo.contractTempList.FirstOrDefault();

                    manat = Custom.ConverPriceToStringDelZero((((Model.ContractDetailTemp.product_asc_price * 82) / 100) - ((Model.ContractDetailTemp.product_unit_price * 82) / 100)));
                    faiz = Custom.ConverPriceToStringDelZero(((((Model.ContractDetailTemp.product_asc_price * 82) / 100) - ((Model.ContractDetailTemp.product_unit_price * 82) / 100)) * 100) / ((Model.ContractDetailTemp.product_unit_price * 82) / 100));
                }
                <tr>
                    <td class="col-md-1">
                        @Model.DemanProductionGroup.productParentName
                    </td>

                    <td class="col-md-1">
                       @Model.DemanProductionGroup.productCode
                    </td>
                    <td class="col-md-1">
                        @Model.DemanProductionGroup.productName
                    </td>

                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalQuantity)
                    </td>

                    <td class="col-md-1">
                        @Model.DemanProductionGroup.enumValueName
                    </td>

                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.unitPrice)
                    </td>

                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalQuantityPrice)
                    </td>

                    <td class="col-md-6">
                        <span>@itemo.personName @itemo.surname @itemo.fatherName</span>
                        <div class="clearfix"></div>
                        <span>@itemo.organizationName</span>

                        <div class="clearfix"></div>
                        @string.Join(", ", itemo.comList.Select(x => x.communication).LastOrDefault())
                    </td>
                    <td class="col-md-1">
                        @if (!string.IsNullOrEmpty(itemo.pinNumber.Trim()))
                        {
                            <b>FİN: </b>@itemo.pinNumber
                            <div class="clearfix"></div>
                        }
                        @if (!string.IsNullOrEmpty(itemo.voen.Trim()))
                        {
                            <b>VÖEN: </b>@itemo.voen

                        }
                    </td>
                    <td class="col-md-1">
                        @if (!string.IsNullOrEmpty(Model.ContractDetailTemp.ContractNumber_))
                        {
                            @DatetimeExtension.toShortDate(Model.ContractDetailTemp.ContractDate).ToShortDateString()
                            <div class="clearfix"></div>
                            <hr />
                            @Model.ContractDetailTemp.ContractNumber_
                        }
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero((decimal)itemo.unit_price)
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero(((Model.ContractDetailTemp.product_unit_price*82)/100))
                    </td>
                    <td class="col-md-1">
                        @manat
                    </td>
                    <td class="col-md-1">
                        @faiz
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero(((Model.ContractDetailTemp.product_asc_price * 82) / 100))
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero(Model.ContractDetailTemp.product_asc_price)
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero((decimal)itemo.quantity)
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero(Model.ContractDetailTemp.product_total_count)
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero((decimal)itemo.totalQuantityPrice)
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero(((Model.ContractDetailTemp.product_total_price * 82) / 100))
                    </td>
                    <td class="col-md-1">
                        @Custom.ConverPriceToStringDelZero(Model.ContractDetailTemp.product_total_price)
                    </td>
                    <td class="col-md-1">
                        @itemo.roledesc
                    </td>
                    <td class="col-md-1">
                        @itemo.taxesType
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="box-footer clearfix">
    Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
    @Html.PagedListPager(Model.PagingT, page => Url.Action("TotalDemandOffersGroupDetail", new { page, productId = Model.productId, userTypeId = Model.userTypeId, fin = Model.fin, voen = Model.voen, monthEVId = Model.monthEVId }))
</div>
