@model Emsal.UI.Models.OfferMonitoringViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
    string oppname = "";
    string ppname = "";
    int i = 0;
}

<div class="clearfix"></div><br />
<div class="box-body no-padding">
    <div class="table-responsive">
        <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
            <span class="badge " style="margin-top: -20px; float: right; margin-right: 50px;background:#D43F3A;">@Model.itemCount</span>
        </div>
        <div class="clearfix"></div>

        <ul class="thumbnails list-unstyled list-inline">
            @foreach (var item in Model.DemanProductionGroupList)
            {
                if (item.offerProducts.Count()>0)
                {
                    if (oppname != item.productParentName)
                    {
                        i = 0;
                        <li class="col-md-12">
                            <h3 class="text-bold text-center" style="margin-bottom: 10px;background: #fafafa;padding: 10px;border:1px solid #f2f2f2;">
                                @item.productParentName
                            </h3>
                        </li>
                    }
                    i = i + 1;
                    <li class="col-md-3">
                        <div class="thumbnail text-center" style="width:100%;height:280px;">
                            @if (!string.IsNullOrEmpty(item.documentUrl))
                            {
                                <img style="width:100%;" class="img-responsive" src="@item.documentUrl@item.documentName" />
                            }
                            else
                            {
                                <img class="img-responsive" style="width:auto;" src="~/Content/UI/images/noimage.png" />
                            }
                            <div class="caption">
                                <h4 class="text-bold">@item.productName</h4>
                                <h4 class="text-bold text-red"> @Custom.ConverPriceToStringDelZero((decimal)item.totalQuantity) @item.enumValueName
                                <span class="clearfix"></span>
                                @Custom.ConverPriceToStringDelZero((decimal)item.offerProducts.FirstOrDefault().totalQuantity)
                                </h4>
                                <div style="position: absolute; bottom: 30px; float: left; width: calc(100% - 30px);">
                                    <a target="_blank" href="/PA/TotalDemandOffersGroupDetail?productId=@item.productId&userTypeId=@Model.userTypeId&finVoen=@Model.finVoen&monthEVId=@Model.monthEVId" class="btn btn-default text-bold f-left">Ətraflı</a>
                                    <button type="button" class="btn btn-primary text-white text-bold f-right">@Custom.ConverPriceToStringDelZero((decimal)item.unitPrice) AZN</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    if (i == 4)
                    {
                        <div class="clearfix"></div>
                        i = 0;
                    }

                    oppname = item.productParentName;
                }
            }
        </ul>

    </div>
</div>
<div class="box-footer clearfix">
    Səhifə @(Model.PagingT.PageCount < Model.PagingT.PageNumber ? 0 : Model.PagingT.PageNumber) (cəmi @Model.PagingT.PageCount)
    @Html.PagedListPager(Model.PagingT, page => Url.Action("TotalDemandOffersGroup", new { page, productId = Model.productId, userTypeId = Model.userTypeId, finVoen = Model.finVoen , monthEVId =Model.monthEVId}))
</div>

