@model Emsal.UI.Models.OfferMonitoringViewModel
@using PagedList.Mvc;
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<div class="box-body no-padding">



    <div class='thumbnail col-sm-12 col-md-12' style="padding: 20px;">
        <div class="col-xs-12 col-sm-3 col-md-3">
            @if (!string.IsNullOrEmpty(Model.DemanProductionGroup.documentUrl))
            {
                <img style="padding:0;" class="img-responsive thumbnail" src="@Model.DemanProductionGroup.documentUrl@Model.DemanProductionGroup.documentName" />
            }
            else
            {
                <img class="img-responsive thumbnail" src="~/Content/img/noimage.png" />
            }
        </div>
        <div class='col-xs-12 col-sm-9 col-md-9'>
            <div class="product-info">
                <h3 class="name text-black nobackground" style="margin-top:0;">
                    <b>Məhsulun adı:</b> @Model.DemanProductionGroup.productName (@Model.DemanProductionGroup.productParentName)
                    <br /><br />
                    <b>Tələbatın həcmi: </b>@Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalQuantity) @Model.DemanProductionGroup.enumValueName
                </h3>
                <div class="clearfix"></div>
                <br />
                <h4 class="text-black nobackground">
                    <span><b>Qiymət (AZN): </b> @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.unitPrice)</span>
                    <span class="clearfix"></span><br />
                    <span><b>Cəmi (Manatla): </b> @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalQuantityPrice)</span>
                </h4><br />

                <h4 class="name text-black nobackground">
                    <b>Təklifin həcmi: </b>@Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.offerProductsList.Sum(x => x.quantity)) 
                    <span class="clearfix"></span><br />
                    <span><b>Cəmi (Manatla): </b> @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.offerProductsList.Sum(x => x.totalQuantityPrice)) </span>
                </h4>

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="table-responsive">
            <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
                <span class="badge " style="margin-top: -10px; float: right; margin-right: 15px;background:#D43F3A;">@Model.itemCount</span>
            </div>

            <table class="table table-hover table-striped table-bordered">
                <tbody>
                    <tr>
                        <th class="col-md-2">
                            Satıcı və ya istehsalçının adı
                        </th>
                        <th class="col-md-1">
                            Satıcı və ya istehsalçının VÖEN-i
                        </th>
                        <th class="col-md-1">
                            Ölçü vahidi
                        </th>
                        <th class="col-md-1">
                            Malın həcmi (miqdarı)
                        </th>
                        <th class="col-md-1">
                            Ümumi dəyər (manatla)
                        </th>
                        <th class="col-md-2">
                            Satıcı və ya istehsalçının nümayəndəsinin adı
                        </th>
                        <th class="col-md-1">
                            Satıcı və ya istehsalçının nümayəndəsinin əlaqə vasitəsi
                        </th>
                        <th class="col-md-1">
                            Tədarükçünün növü (istehsalçı, satıcı və ya idxalçı)
                        </th>
                    </tr>

                    @foreach (var itemo in Model.DemanProductionGroup.offerProductsList)
                    {
                        <tr>
                            <td class="col-md-2">
                                @if (!string.IsNullOrEmpty(itemo.voen.Trim()))
                                {
                                    <span>@itemo.organizationName</span>
                                }
                                else
                                {
                                    <span>@itemo.personName @itemo.surname @itemo.fatherName</span>
                                }
                            </td>
                            <td class="col-md-1">
                                @if (!string.IsNullOrEmpty(itemo.pinNumber.Trim()))
                                {
                                    <b>FİN: </b>@itemo.pinNumber
                                    <div class="clearfix"></div>
                                }
                                @if (!string.IsNullOrEmpty(itemo.voen.Trim()))
                                {
                                    <b>VÖEN: </b>@itemo.voen

                                }
                            </td>
                            <td class="col-md-1">
                                @itemo.enumValueName
                            </td>
                            <td class="col-md-1">
                                @Custom.ConverPriceToStringDelZero((decimal)itemo.quantity)
                            </td>
                            <td class="col-md-1">
                                @Custom.ConverPriceToStringDelZero((decimal)itemo.totalQuantityPrice)
                            </td>
                            <td class="col-md-2">
                                @itemo.personName @itemo.surname @itemo.fatherName
                            </td>
                            <td class="col-md-1">
                                @string.Join(", ", itemo.comList.Select(x => x.communication).LastOrDefault())
                            </td>
                            <td class="col-md-1">
                                @itemo.roledesc
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>








</div>

