@model Emsal.UI.Models.OfferMonitoringViewModel
@using Emsal.Utility.CustomObjects;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPA.cshtml";
}
<div class="content">
    <div class="row">
            <div class="box box-primary">

                <br />
                <div class="bs-callout bs-callout-info">
                    <h4>
                        <i class="glyphicon glyphicon-info-sign"></i> Məhsul üzrə təkliflər
                    </h4>
                </div>

                <div class="clearfix"></div>
                <br />

                <div class="box-body no-padding">
                    <div class='thumbnail col-sm-12 col-md-12' style="padding: 20px;">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            @if (!string.IsNullOrEmpty(Model.DemanProductionGroup.documentUrl))
                            {
                                <img style="padding:0;" class="img-responsive thumbnail" src="@Model.DemanProductionGroup.documentUrl@Model.DemanProductionGroup.documentName" />
                            }
                            else
                            {
                                <img class="img-responsive thumbnail" src="~/Content/img/noimage.png" />
                            }
                        </div>
                        <div class='col-xs-12 col-sm-9 col-md-9'>
                            <div class="product-info">
                                <h4 class="name text-black nobackground" style="margin-top:0;">
                                    <b>Məhsulun adı:</b> @Model.DemanProductionGroup.productName (@Model.DemanProductionGroup.productParentName)
                                    <br /><br />
                                    <b>Tələbatın həcmi: </b>@Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalQuantity) @Model.DemanProductionGroup.enumValueName
                                </h4>
                                <div class="clearfix"></div>
                                <br />
                                <h5 class="text-black nobackground">
                                    <span><b>Qiymət (AZN): </b> @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.unitPrice)</span>
                                    <span class="clearfix"></span><br />
                                    <span><b>Cəmi (Manatla): </b> @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalQuantityPrice)</span>
                                </h5><br />

                                <h5 class="name text-black nobackground">
                                    <b>Təklifin həcmi: </b>@Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalOfferQuantity)
                                    <span class="clearfix"></span><br />
                                    <span><b>Cəmi (Manatla): </b> @Custom.ConverPriceToStringDelZero((decimal)Model.DemanProductionGroup.totalOfferPrice) </span>
                                </h5>

                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <br />
                        <hr />
                        <br />

                        <div class="row">
                            <div class="col-md-3">
                                <label>Aylar</label><br />
                                @Html.Action("Month", "PA", new { actionName = "TotalDemandOffersGroupDetail", id = Model.monthEVId })
                            </div>

                            <div class="col-md-3">
                                <label>İstifadəçinin növü</label><br />
                                @Html.Action("UserType", "PA", new { actionName = "TotalDemandOffersGroupDetail", id = Model.userTypeId })
                            </div>

                            <div class="col-md-2">
                                <label>FİN</label><br />
                                <input value="@Model.fin" onkeyup="StatisticsSearch(this, 'PA', 'TotalDemandOffersGroupDetail', 'fin')" class="form-control" placeholder="axtar" />
                            </div>

                            <div class="col-md-2">
                                <label>VÖEN</label><br />
                                <input value="@Model.voen" onkeyup="StatisticsSearch(this, 'PA', 'TotalDemandOffersGroupDetail', 'voen')" class="form-control" placeholder="axtar" />
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <br />
                        <hr />
                        <br />

                        <div id="AjaxPaginationList">
                            @Html.Partial("PartialTotalDemandOffersGroupDetail")
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="~/Content/js/pagedList.js"></script>


