@model Emsal.UI.Models.DemandProductionViewModel
@using PagedList.Mvc;

@{
    Layout = "";
    decimal tquantity = 0;
}


        @if (Model.isPDF == false)
        {
            if (Model.noButton == false)
            {
                <div class="bttns">
                    <a href="/DemandProduction/SelectedProducts?pdf=true&noButton=false&productName=@Model.ProductName" class="btn btn-lg btn-success active pull-left">
                        <i class="glyphicon glyphicon-save-file"></i>&nbsp;Yüklə
                    </a>

                    <button class="btn btn-primary btn-lg pull-right btnadd" type="submit">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;Tələbinizi əlavə edin
                    </button>
                    <div class="clearfix"></div>
                    <br />
                </div>

                <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
                    <span class="badge " style="margin-top: -10px; float: right;background:#D43F3A;">@Model.itemCount</span>
                </div>
            }
        }
        <table class="table table-bordered">
            <tr>
                <th>Məhsulun adı</th>
                <th>Çəkisi</th>
                <th>Ölçü vahidi</th>
                @*<th>Qrafik</th>
                    <th>Aylar</th>*@
                <th>Çardırılma ünvanı</th>
                <th>Qeyd</th>
                @if (Model.isPDF == false)
                {

                    <th>Sil</th>
                    <th>Redaktə</th>
                }
            </tr>
            @{
                foreach (var item in Model.Paging)
                {
                    @*<tr>
            <td colspan="8" class="text-center">
                @item.fullForeignOrganization
                        </td>
                    </tr>*@
                    <tr>
                        <td>@item.productName (@item.productParentName) 
                        </td>
                        <td>
                            @if ((decimal)Math.Round(item.quantity, 2) > (int)item.quantity)
                            {
                                @item.quantity
                            }
                            else
                            {
                                long qi = (int)Math.Round(item.quantity, 0);
                                <span>@qi</span>
                            }
                        </td>
                        <td>@item.enumValueName</td>
                        <td>
                        - @item.fullForeignOrganization
                            <br />
                        - @item.fullAddress</td>
                        <td>@item.description</td>
                        @if (Model.isPDF == false)
                        {
                            <td>
                                <div style="cursor:pointer;" class="glyphicon glyphicon-remove text-danger" onclick="deleteSelectedDemandProduct(@item.productionID)"></div>
                            </td>
                            <td class="text-center">
                                <a href="/DemandProduction/Edit?id=@item.productionID&rurl=@Model.rurl" style="text-decoration:none;" class="glyphicon glyphicon-pencil text-primary"></a>
                            </td>
                        }
                    </tr>
                    if (item.productionCalendarList.Count() > 0)
                    {
                        <tr>
                            <td colspan="8" style="padding:0;">
                                <table class="table" style="margin:0;">
                                    <tbody>
                                        <tr>
                                            <th>tipi</th>
                                            <th>il</th>
                                            <th>rüb</th>
                                            <th>ay</th>
                                            <th>gün</th>
                                            <th>saat</th>
                                            <th>miqdar</th>
                                            <th>miqdar (cəmi)</th>
                                            @if (Model.isPDF == false)
                                            {
                                                <th class="text-center">sil</th>
                                            }
                                        </tr>
                                        @{
                                            foreach (var itemn in item.productionCalendarList)
                                            {
                                                tquantity = ((decimal)itemn.quantity * (decimal)itemn.transportation_eV_Id);
                                                <tr>
                                                    <td>
                                                        @if (itemn.TypeDescription != null)
                                                        {
                                                            <span>@itemn.TypeDescription</span>
                                                        }
                                                    </td>
                                                    <td> @itemn.year </td>
                                                    <td> @itemn.partOfyear</td>
                                                    <td> @itemn.MonthDescription</td>
                                                    <td> @itemn.day</td>
                                                    <td> @itemn.oclock:00</td>
                                                    <td>
                                                        @if ((decimal)Math.Round(itemn.quantity, 2) > (int)itemn.quantity)
                                                        {
                                                            @itemn.quantity
                                                        }
                                                        else
                                                        {
                                                            long qi = (int)Math.Round(itemn.quantity, 0);
                                                            <span>@qi</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if ((decimal)Math.Round(tquantity, 2) > (int)tquantity)
                                                        {
                                                            @tquantity
                                                        }
                                                        else
                                                        {
                                                            long qi = (int)Math.Round(tquantity, 0);
                                                            <span>@qi</span>
                                                        }

                                                    </td>
                                                    @if (Model.isPDF == false)
                                                    {
                                                        <td class="text-center">
                                                            <div style="cursor:pointer;" class="glyphicon glyphicon-remove text-danger" onclick="deleteProductionCalendar(@itemn.ID, @itemn.demand_Id)"></div>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>


                                @*<div id="productionCalendar_@item.productionID">
                                    @Html.Action("ProductionCalendar", "DemandProduction", new { dId = item.productionID, pdf=Model.isPDF })
                                </div>*@
                            </td>
                        </tr>
                    }
                    if (item != Model.Paging.LastOrDefault())
                    {
                        <tr>
                            <td colspan="8" style="padding:0;background:#f2f2f2;">
                                &nbsp;
                            </td>
                        </tr>
                    }
                }
            }
        </table>

@if (Model.isPDF == false)
{
        <div class="box-footer clearfix">
            Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
            @Html.PagedListPager(Model.Paging, page => Url.Action("SelectedProducts", new { page, productName=Model.ProductName }))
        </div>
}



@if (Model.isPDF == true)
{
    @Html.Action("Style", "Home", new { pId = 0 })
}
