
@model Emsal.UI.Models.DemandProductionViewModel

@{
    ViewBag.Title = "ProductionCalendar";
    Layout = "";
    decimal tquantity = 0;
}

@if (Model.LProductionCalendarList.Count() > 0)
{


        <table class="table" style="margin:0;">
            <tbody>
            <tr>
                <th>tipi</th>
                <th>il</th>
                <th>rüb</th>
                <th>ay</th>
                <th>gün</th>
                <th>saat</th>
                <th>miqdar</th>
                <th>miqdar (cəmi)</th>
                <th class="text-center">sil</th>
            </tr>
            @{
                foreach (var item in Model.LProductionCalendarList)
                {
                    tquantity = ((decimal)item.quantity * (decimal)item.transportation_eV_Id);
                    <tr>
                        <td>
                            @*@if (item.TypeDescription != null)
                                {
                                    <span>@item.TypeDescription</span>
                                }*@
                        </td>
                        <td> @item.year </td>
                        <td> @item.partOfyear</td>
                        <td> @*@item.MonthDescription*@</td>
                        <td> @item.day</td>
                        <td> @item.oclock</td>
                        <td> @item.quantity</td>
                        <td> @tquantity</td>
                        <td class="text-center">
                            <div style="cursor:pointer;" class="glyphicon glyphicon-remove text-danger" onclick="deleteProductionCalendar(@item.Id, @item.demand_Id)"></div>
                        </td>
                    </tr>
                }
            }
                </tbody>
        </table>

                }