@model Emsal.UI.Models.DemandProductionViewModel

@{
    ViewBag.Title = "DemandProduction";
    if (Model.isPDF == true)
    {
        Layout = "~/Views/Shared/_LayoutProfilePW.cshtml";
    }
}

<h4>Tələb olunan məhsullar</h4>
<div class="row">
    <div class="col-md-12">
        @*	<div class="table-responsive">*@
        <table class="table table-bordered">
            <tr>
                <th>Məhsulun adı</th>
                <th>Çəkisi</th>
                <th>Ölçü vahidi</th>
                @*<th>Qrafik</th>
                    <th>Aylar</th>*@
                @*<th>Ünvan</th>*@
                <th>Qeyd</th>
                @if (Model.isPDF == false)
                {

                    <th>Sil</th>
                    <th>Redaktə</th>
                }
            </tr>
            @{
                foreach (var item in Model.ProductionDetailList)
                {

                    <tr>
                        <td>@item.productName</td>
                        <td>@item.quantity</td>
                        <td>@item.enumValueName</td>
                        @*<td>--</td>
                            <td>@item.months</td>*@
                        @*<td>@item.fullAddress (@item.addressDesc)</td>*@
                        <td>@item.description</td>
                        @if (Model.isPDF == false)
                        {

                            <td>
                                <div style="cursor:pointer;" class="glyphicon glyphicon-remove text-danger" onclick="deleteSelectedDemandProduct(@item.productionID)"></div>
                            </td>
                            <td class="text-center">
                                <a href="/DemandProduction/Edit/@item.productionID" style="text-decoration:none;" class="glyphicon glyphicon-pencil text-primary"></a>
                            </td>
                        }
                    </tr>
                }
            }
        </table>
        @if (Model.isPDF == false)
        {
            if (Model.noButton == false)
            {

                <a href="/DemandProduction/SelectedProducts?&userId=@Model.userId&pdf=true" class="btn btn-success active pull-left">
                    <i class="glyphicon glyphicon-save-file"></i>&nbsp;Yüklə
                </a>


                <button class="btn btn-primary btn-lg pull-right btnadd" type="submit">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Tələbinizi əlavə edin
                </button>
            }
        }

    </div>
</div>
@*	</div>*@

