@model Emsal.UI.Models.OfferProductionViewModel
@{
    ViewBag.Title = "ProductCatalog";
    Layout = "";
}

@if (Model.actionName == null)
{
<div class="form-group col-md-6">
    <select onchange="GetProductCatalogForSaleAS(this)" class="form-control unicase-form-control select select2">
        <option value="0">Satılacaq məhsul üzrə axtar</option>
        @foreach (var item in Model.ProductCatalogDetailList)
        {
            if (Model.oldPID.Contains(item.productCatalog.Id))
            {
                <option disabled>@item.productName (@item.productCatalog.ProductName)</option>
            }
            else
            {
            <option value="@item.productCatalog.Id">@item.productName (@item.productCatalog.ProductName)</option>
            }
        }
    </select>
</div>
}
else
{
    <select onchange="StatisticsSearch(this,'OfferProduction','@Model.actionName', 'productId')" class="form-control unicase-form-control select select2">
        <option value="0">Satılacaq məhsul üzrə axtar</option>
        @foreach (var item in Model.ProductCatalogDetailList)
        {
            <option value="@item.productCatalog.Id">@item.productName (@item.productCatalog.ProductName)</option>
        }
    </select>
}
