@model Emsal.UI.Models.PotentialClientStateViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

@using (Html.BeginForm("Approv", "PotentialClientState", FormMethod.Post))
{

                    <!-- /.box-header -->
    <div class="box-body no-padding">
        @if (Model.isMain == 0)
        {
            <div class="checkbox btn-group">
                <label style="margin-left: 10px;">
                    <input id="allCheck" onclick="chcheckList(this)" type="checkbox"> Hamısını seç
                </label>
            </div>
            <div class="btn-group" id="chall">
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;Təsdiqləyin
                </button>
            </div>

        }
        <input hidden id="checkedList" />
        <div class="table-responsive">
            <div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
                <span class="badge " style="margin-top: -10px; float: right;background:#D43F3A;">@Model.itemCount</span>
            </div>
            <table class="table table-hover table-striped table-bordered">
                <tbody>
                    @foreach (var item in Model.PagingUserInfo)
                    {
                        <tr>
                            @if (Model.isMain == 0)
                            {
                                <td class="col-md-1">
                                    <input onchange="getCheckedList()" name="ids" value="@item.userID" class="ch" type="checkbox">
                                </td>
                            }
                            <td class="col-md-1">
                                @if (item.profilPicture != null)
                                {
                                    if (item.profilPicture != "") { 
                                <img class="img-responsive thumbnail" style="margin:0;" id="picture" src="data:image/png;base64,@Convert.ToBase64String(Emsal.Utility.CustomObjects.StringExtension.StringToByteArray(item.profilPicture))" />
                                }
                                }
                            </td>
                            <td class="col-md-3">
                                @item.OrganisationName
                                <div class="clearfix"></div>
                                @item.name @item.surname @item.fatherName (@item.gender)
                            </td>
                            <td class="col-md-2">
                                @item.pinNumber
                            </td>
                            <td class="col-md-3">
                                @item.fullAddress (@item.personAdressDesc)
                                <div class="clearfix"></div>
                                <b>e-poçt:</b> @item.email
                                <div class="clearfix"></div>
                                <b>tel:</b> @string.Join(", ", item.personcomList.Select(x => x.communication).LastOrDefault())
                            </td>
                            <td class="col-md-1 shsingle text-center">
                                <a href="/PotentialClientState/Edit/@item.userID" class="badge bg-light-blue">
                                    <span class="glyphicon glyphicon-check"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
                    <div class="box-footer clearfix">
                        Səhifə @(Model.PagingUserInfo.PageCount < Model.PagingUserInfo.PageNumber ? 0 : Model.PagingUserInfo.PageNumber) (cəmi @Model.PagingUserInfo.PageCount)
                        @Html.PagedListPager(Model.PagingUserInfo, page => Url.Action("Index", new { page, nameSurnameFathername = Model.nameSurnameFathername, pin = Model.pin, fullAddress = Model.fullAddress }))
                    </div>
}


<script>
    $(document).ready(function () {
        $('#chall').hide();
    });
</script>
