@model Emsal.AdminUI.Models.AuthLogin
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/css/jumbotron.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css/ihover.css" rel="stylesheet">
    <link href="~/Content/css/js-image-slider.css" rel="stylesheet">
    <link href="~/Content/css/ddmenu.css" rel="stylesheet">

    <!-- Bootstrap core JS -->

    <script src="~/Content/js/jquery-1.12.3.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Content/js/ie-emulation-modes-warning.js"></script>

    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/ddmenu.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/js-image-slider.js"></script>

    <script src="~/Content/js/emsal.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home/Index"><h3>emsal.gov.az</h3></a>
                </div>

            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="user-login">
                        @*<h3 class="text-bold">Giriş</h3>
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Elektron ünvan</label>
                                    <input type="email" class="form-control" id="loginEmail" placeholder="Emailinizi daxil edin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Şifrə</label>
                                    <input type="password" class="form-control" id="loginPassword" placeholder="Şifrənizi daxil edin">
                                </div>
                                <a href="">Şifrəmi unutdum</a>
                            </form>
                            <form class="form-inline m-top">
                                <div class="checkbox">
                                    <label class="font_size12 f-left">
                                        <input type="checkbox"> Yadda saxla
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary f-right" id="loginToSpecialSummary">Daxil ol</button>
                            </form>*@
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(x => x.Username)
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Password)
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                <input class="btn btn-primary" type="submit" value="Daxil ol" />
                            </div>
                        }

                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer_menu">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="list-unstyled">
                            <li><h4>Korporativ</h4></li>
                            <li><a href="">Haqqımızda</a></li>
                            <li><a href="">Media ilə əlaqələr və şəkillər</a></li>
                            <li><a href="">İnsan resursları</a></li>
                            <li><a href="">Əlaqə</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="list-unstyled">
                            <li><h4>Xidmətlərimiz</h4></li>
                            <li><a href="">Təhlükəsiz elektron ticarət</a></li>
                            <li><a href="">Elanların qəbulu</a></li>
                            <li><a href="">Məhsulların yerbəyer olunması</a></li>
                            <li><a href="">Məhsulların paylanması</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="list-unstyled">
                            <li><h4>Məhsullar</h4></li>
                            <li><a href="">Heyvan mənşəli məhsullar</a></li>
                            <li><a href="">Bitki mənşəli məhsullar</a></li>
                            <li><a href="">Ərzaq məhsulları</a></li>
                            <li><a href="">Digər</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="list-unstyled">
                            <li><h4>Bizi izləyin</h4></li>
                            <li><a title="Facebook" target="_blank" href="">Facebook</a></li>
                            <li><a title="Twitter" target="_blank" href="">Twitter</a></li>
                            <li><a title="Linkedin" target="_blank" href="">Linkedin</a></li>
                            <li><a title="Google" target="_blank" href="">Google+</a></li>
                            <li><a title="Pinterest" target="_blank" href="">Pinterest</a></li>
                            <li><a title="Youtube" target="_blank" href="">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="phone_email_play_store">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="phone_email">
                            <ul class="list-unstyled">
                                <li>
                                    <img src="~/Content/img/phone.png">
                                    <div class="phone">
                                        <p>1652 Çağrı mərkəzi</p>
                                        <p>1652 Çağrı mərkəzi</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="~/Content/img/email.png">
                                    <div class="phone">
                                        <p>Dəstək mərkəzi</p>
                                        <p>emsal.gov.az</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear-both"></div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="play_store">
                            <ul class="list-unstyled">
                                <li>
                                    <a href=""><img src="~/Content/img/google_play.png"></a>
                                </li>
                                <li>
                                    <a href=""><img src="~/Content/img/apple_store.png"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>

            <div class="note">
                <p>
                    emlak.gov.az saytında iştirak edən istifadəçilərin yaratdığı bütün məzmun, görüş və məlumatların doğruluğu,
                    əksiksiz və dəyişməz olduğu, yayımlanması ilə əlaqədar qanuni öhdəliklər məzmunu təşkil edən istifadəçiyə aiddir.
                    Bu məzmunun, görüş və məlumatların səhv, nöqsan və ya qanunlarla təşkil qaydalara etməsində emlak.gov.az
                    heç bir şəkildə məsul deyil. Əgər suallarınız üçün elan sahibi ilə əlaqəyə keçə bilərsiniz.
                </p>
            </div>

            <div class="copyright">
                <p class="f-left">Copyright ©2016, emsal.gov.az</p>
                <p class="f-right">Limitli adətlərdə və müəyyən kateqoriyalarda</p>
            </div>
        </div>
    </footer>

    <script>
        $("#loginToSpecialSummary").on("click", function () {
           // window.location.href = "/SpecialSummary/PhoneRegister1";
            return false;
        })
    </script>


</body>
</html>
