@model Emsal.AdminUI.Models.AuthLogin
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/css/jumbotron.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css/ihover.css" rel="stylesheet">
    <link href="~/Content/css/js-image-slider.css" rel="stylesheet">
    <link href="~/Content/css/ddmenu.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home/Index"><h3>tedaruk.az</h3></a>
                </div>

            </div>
        </nav>
    </header>

    <section>
        <div class="container" style="min-height:500px;">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="user-login">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(x => x.Username)
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Password)
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                <input class="btn btn-primary" type="submit" value="Daxil ol" />
                            </div>
                        }

                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="copyright">
                <p class="f-left">Copyright ©2016, tedaruk.az</p>
            </div>
        </div>
    </footer>


</body>
</html>
