@model Emsal.AdminUI.Models.Organisation
@{
    ViewBag.Title = "AddASCUser";
    Layout = "~/Views/Shared/_AddGovernmentOrganisationLayout.cshtml";
}
<div class="container" style="box-shadow:1px 1px 2px 3px #ddd;">
    @{
        if (TempData["CustomError"] != null)
        {
            <h4 style="color:red">Bu email və ya istifadəçi adıyla sistemdə istifadəçi mövcuddur.</h4>
        }
    }
</div>
<div class="container">
    <div class="container col-md-6 col-md-offset-3" style="border-radius: 5px; margin-top: 30px; margin-bottom:30px; box-shadow:1px 1px 2px 3px #ddd; background-color:white">
        <br />
       

        <h2 style="text-align:center">İstifadəçi əlavə et</h2>
        <br /><br /><br />
        @using (Html.BeginForm("AddBRANCHUser", "GovernmentOrganisation", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="form-group">
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "username" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <p class="text-danger" id="usernameAlert"></p><br />
            <div class="form-group" id="pinDiv" style="padding:5px;">
                @Html.LabelFor(x => x.Pin)
                @Html.TextBoxFor(x => x.Pin, new { @class = "form-control", id = "pin" })
            </div>
                <p class="text-danger" id="pinAlert"></p><br />
                <div class="form-group">
                    <label>İstifadəçi növü</label>
                    <select name="userType" id="userType" class="form-control">
                        <option>İstifadəçi növü</option>
                        <option>ASC</option>
                        <option>KTN</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.userType, "", new { @class = "text-danger" })
                    <p class="text-danger" id="userTypeAlert"></p><br />
                </div>
                <div class="form-group" id="asc" style="padding:5px;display:none">
                    <label>ASC</label>
                    <select name="ASCId" class="form-control">
                        <option>Seçim edin</option>
                        @foreach (var item in Model.ASCBranchArray)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group" id="ktn" style="padding:5px;display:none">
                    <label>KTN</label>
                    <select name="KTNId" class="form-control">
                        <option>Seçim edin</option>
                        @foreach (var item in Model.KTNBranchArray)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "password", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <p class="text-danger" id="passwordAlert"></p><br />

                <div class="form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", type = "email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                





                <div class="col-md-6 col-md-offset-4" style="margin-bottom:20px">
                    <input type="submit" class="btn btn-success" value="Davam Et" id="sendInfo" />
                </div>
                <div class="clearfix" style="height: 200px;"></div>

        }
        <div class="clearfix" style="height: 200px;"></div>
    </div>

</div>



<script>
    $("#userType").on("change", function () {
        if ($("#userType").val() == "ASC") {
            $("#asc").css("display", "block");
            $("#ktn").css("display", "none");
        }
        if ($("#userType").val() == "KTN") {
            $("#ktn").css("display", "block");
            $("#asc").css("display", "none");
        }
        if ($("#userType").val() === "İstifadəçi növü") {
            $("#ktn").css("display", "none");
            $("#asc").css("display", "none");
        }
    })


    $("#sendInfo").on("click", function (e) {
        if ($("#userType").val() === "İstifadəçi növü"){
            e.preventDefault();

            $("form p").html("");

            if ($("#userType").val() === "İstifadəçi növü") {
                $("#userTypeAlert").html("İstifadəçi növü seçilməmişdir");
            }
               
        }
    })
</script>