@model Emsal.AdminUI.Models.Organisation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AddGovernmentOrganisationLayout.cshtml";
}

<div class="container col-md-6 col-md-offset-3" style="border-radius: 5px; margin-top: 30px; margin-bottom:30px; box-shadow:1px 1px 2px 3px #ddd; background-color:white">
    <br /><br /><br />

    <h2 style="text-align:center">Ünvan Məlumatları</h2>
    <br />
    @using (Html.BeginForm("AddBRANCHAddressInfo", "GovernmentOrganisation", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Pin)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Surname)
        @Html.HiddenFor(model => model.FatherName)
        @Html.HiddenFor(model => model.Birthday)
        @Html.HiddenFor(model => model.ASCId)
        @Html.HiddenFor(model => model.KTNId)
        @Html.HiddenFor(model => model.Education)
        @Html.HiddenFor(model => model.Gender)
        @Html.HiddenFor(model => model.Job)

        <div class="form-group" id="AdminUnit">
            <script>
                $(document).ready(function () {
                    $.ajax({
                        url: '/GovernmentOrganisation/AdminUnit?pId=0',
                        type: 'GET',
                        success: function (result) {
                            $('#AdminUnit').html(result);

                            $("select[name='adId[0]']").change();
                        },
                        error: function () {

                        }
                    });
                });
            </script>
            @*@Html.Action("AdminUnit", "OfferProduction", new { pId = 0 })*@
        </div>

        <div class="col-md-6 col-md-offset-4" style="margin-bottom:20px">
            <input type="submit" class="btn btn-success" value="Davam Et" id="sendInfo" />
        </div>
    }
    <div class="clearfix" style="height: 20px;"></div>

</div>