@model Emsal.AdminUI.Models.Organisation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AddGovernmentOrganisationLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                @using (Html.BeginForm("Index", "GovernmentOrganisation", FormMethod.Get))
                {
                    <div class="panel panel-default">
                        <br />
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => Model.SUserName, new { @class = "form-control", @placeholder = "İstifadəçi Adı" })
                            </div>

                            <div class="col-md-3">
                                @Html.TextBoxFor(model => Model.SEMail, new { @class = "form-control", @placeholder = "Elektron poçt " })
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(model => Model.SOrganizationName, new { @class = "form-control", @placeholder = "Təşkilat adı" })
                            </div>

                            <div class="col-lg-3">
                                @Html.TextBoxFor(model => Model.SFullAddress, new { @class = "form-control", @placeholder = "Region" })
                            </div>
                        </div>

                        <br />
                        <div class="col-md-7" align="right">
                            <button type="submit" class="btn btn-primary btn-sm">Axtar</button>
                        </div>

                        <br />
                        <br />
                        @*<h3 class="box-title col-md-12">EnumCategory <a class="btn btn-primary pull-right" href="@Url.Action("Create","EnumCategory")"><span class="glyphicon glyphicon-plus"></span> Əlavə et</a></h3>*@
                    </div>
                }

                <div id="AjaxPaginationList">
                    @Html.Partial("PartialIndex")
                </div>

            </div>
        </div>
    </div>
</section>

@*<script src="~/Content/js/pagedList.js"></script>*@

@if (TempData["GovSuccess"] != null)
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#myModal").modal('show');
            });
    </script>
        <div id="myModal" class="modal fade" style="z-index:3000">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Məlumat</h4>
                    </div>
                    <div class="modal-body">
                        <p id="successMessage">Dövlət Təşkilatı Uğurlu bir şəkildə əlavə olundu</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                    </div>
                </div>
            </div>
        </div>
}

@if (TempData["govDeleted"] != null)
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#myModal3").modal('show');
            });
    </script>
    <div id="myModal3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Məlumat</h4>
                </div>
                <div class="modal-body">
                    <p id="successMessage">Dövlət Təşkilatı Sistemdən silindi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                </div>
            </div>
        </div>
    </div>
}

