@*@model IEnumerable<Emsal.AdminUI.Models.EnumCategoryViewModel>*@
@model Emsal.AdminUI.Models.Organisation
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<script src="~/Content/js/Goverment.js"></script>

                <div class="box-header with-border">

                    <br />
                    <h3>Hüquqi Şəxslər</h3>
                    @*<h3 class="box-title col-md-12">EnumCategory <a class="btn btn-primary pull-right" href="@Url.Action("Create","EnumCategory")"><span class="glyphicon glyphicon-plus"></span> Əlavə et</a></h3>*@
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Rəhbər Şəxsin Soyadı, adı, ata adı
                            </th>
                            @*<th>
                                Region
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                        </tr>

                    @if (Model.userDetailArray != null)
                    {
                        foreach (var item in Model.userDetailArray)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.organizationName)
                                </td>
                                <td>
                                    @item.surName @item.name @item.fatherName
                                </td>
                                @*<td>
                                    @item.FullAddress
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <a href="/GovernmentOrganisation/EditOrganisation/?userId=@item.Id" class="badge bg-light-blue">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="/GovernmentOrganisation/Delete/@item.Id" class="badge bg-red">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    Səhifə @(Model.pageCount < Model.pageNumber ? 0 : Model.pageNumber) (cəmi @Model.pageCount)
                    @Html.PagedListPager(Model.PagingOrganisation, page => Url.Action("Organisations", new { page, Model.SName, Model.SSurname, Model.SFName, Model.SEMail, Model.SOrganizationName, Model.SUserName }))
                </div>

                @Html.HiddenFor(x => x.actionName);
           