@*@model IEnumerable<Emsal.AdminUI.Models.EnumCategoryViewModel>*@
@model Emsal.AdminUI.Models.EnumValueViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<p>

</p>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title col-md-12">EnumValue </h3>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.createdDate)
                            </th>*@
                    @*        <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.createdUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.createdDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.updatedUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.updatedDate)
                            </th>*@
                            @*<th  style="width: 60px">redaktə</th>*@
                            <th style="width: 60px">redaktə</th>
                            <th style="width: 60px">sil</th>
                        </tr>


                        @foreach (var item in Model.EnumValueList)
                      {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                   @*<td>
                                    @Html.DisplayFor(modelItem => item.createdDate)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdatedStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdUser)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updatedUser)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updatedDate)
                                </td>*@
                                @*<td>
                                    <a href="/EnumValue/Edit/@item.Id" class="badge bg-light-blue">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>*@
                                <td>
                                    <a href="/EnumValue/Edit/@item.Id" class="badge bg-light-blue">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="/EnumValue/Delete/@item.Id" class="badge bg-red">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div> 
    </section>


