@model Emsal.AdminUI.Models.EnumCategoryViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>&nbsp;</h2>

<div class="col-md-6 col-md-offset-3">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">EnumCategory</h3>
        </div>
      @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
           @Html.HiddenFor(model => model.EnumCategory.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
                    <div class="col-md-6">
                    <div class="form-group">                      
                        @Html.CheckBoxFor(model => model.isProductDescibe, htmlAttributes: new { @class = "control-label" })
                        @Html.LabelFor(model => model.isProductDescibe, htmlAttributes: new { @class = "" })
                        @Html.ValidationMessageFor(model => model.isProductDescibe, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" value="Təsdiqləyin" class="btn btn-primary active" style="float:right;" />
            </div>
}
    </div>
</div>