@model Emsal.UI.Models.SpecialSummaryViewModel
@{
    ViewBag.Title = "Index";
    int numb = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Special summary</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/css/jumbotron.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css//ihover.css" rel="stylesheet">
    <link href="~/Content/css/js-image-slider.css" rel="stylesheet">
    <link href="~/Content/css/ddmenu.css" rel="stylesheet">

    <!-- Bootstrap core JS -->

    <script src="~/Content/js/jquery-1.12.3.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Content/js/ie-emulation-modes-warning.js"></script>

    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/ddmenu.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/js-image-slider.js"></script>

    @*<script src="~/Content/js/emsal.js"></script>*@
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/specialSummary.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/SpecialSummary/Index"><h3>tedaruk.az</h3></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Axtar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                        <div class="navbar_right_login">
                            <span><a href="">Ətraflı axtar</a></span>
                            <a href=""> <span style="color:#fff" class="adSoyad"> @Model.NameSurname </span><span id="per_inf" class="glyphicon glyphicon-menu-down"></span></a>
                            <a href="" id="per_mes"><span class="glyphicon glyphicon-envelope" aria-hidden="true"><span style="color:red">@Model.MessageCount</span></a>
                            <a href=""><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
                            <a href=""><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
                            <a href="" style="padding-right:0px;"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                        </div>
                    </form>
                </div><!--/.navbar-collapse -->

                <div class="per_information">
                    <ul class="list-unstyled">
                        <a href=""><li>Qısa məzmun</li></a>
                        <a href=""><li>Təkliflər</li></a>
                        <a href=""><li>Qeydiyyatım</li></a>
                        <a href="/Login/Logout"><li>Çıxış</li></a>
                    </ul>
                </div>

                <div class="messages">
                    <ul class="list-unstyled">
                        <li><a href="/Ordinary/SentMessages">Göndərilən Məktublar</a></li>
                        <li><a href="/Ordinary/ReceivedMessages">Gələn Məktublar</a></li>
                    </ul>
                </div>


            </div>
        </nav>
    </header>

    <section>
        <div class="container">

            <div class="tab_panel_block">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#admin" aria-controls="home" role="tab" data-toggle="tab"><h5 class="text-bold">Məhsullar</h5></a></li>
                    <li role="presentation"><a href="#contracts" aria-controls="home" role="tab" data-toggle="tab"><h5 class="text-bold">Müqavilələrim</h5></a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><h5 class="text-bold"><span class="adSoyad" id="godadd">@Model.NameSurname</span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h5></a></li>


                    <li>
                        @if (Model.roleStatus == 1)
                        {
                        <a href="/OfferProduction" class="btn btn-info active pull-right">
                            <i class="glyphicon glyphicon-link" style="color:red"></i>&nbsp;Təklif yerləşdir*
                        </a>
                        }
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="admin">

                    <div class="tab_panel_block_left">

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse1">Məhsullarım<span class="glyphicon glyphicon-menu-down f-right text-gray" aria-hidden="true"></span></a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <ul class="list-group list-unstyled">
                                        <li class="list-group-item">
                                            <a href="/SpecialSummary/OffAirOffers">Yayımdan çıxan təkliflər 
                                                
                                                    @if (Model.countNewOffAirOffers > 0)
                                                    {
                                                        <span style="color:red"> (@Model.countNewOffAirOffers) </span>
                                                    }
                                                       
                                            </a>
                                      </li>
                                        <li class="list-group-item">
                                            <a href="/SpecialSummary/Index">Təsdiqlənən Təkliflər 
                                                @if (Model.countNewAcceptedOffers > 0)
                                                {
                                                    <span style="color:red">(@Model.countNewAcceptedOffers) </span>
                                                }
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/SpecialSummary/OnAirOffers">Təkliflər 

                                                @if (Model.countNewOnAirOffers > 0)
                                                {
                                                    <span style="color:red">(@Model.countNewOnAirOffers)</span>
                                                }
                                                
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/SpecialSummary/RejectedOffers">Yararsız Sayılan Təkliflər 

                                                @if (Model.countNewRejectedOffers > 0)
                                                {
                                                    <span style="color:red">(@Model.countNewRejectedOffers)</span>
                                                }
                                                
                                            </a>
                                        </li>
                                        @*<li class="list-group-item"><a data-toggle="collapse" id="reEditedOffers" href="">Yenidən Düzəldilmiş Təkliflər <span id="re_edited_offers_num"></span></a></li>*@
                                        @if (Model.UserRoleArray != null)
                                        {
                                            if (Model.UserRoleArray.ToList().Where(x => x.RoleId == 15).Count() > 0)
                                            {
                                            <li class="list-group-item"><a href="/SpecialSummary/ConfirmedPotential">Potensial istehsalçı məhsulları</a></li>
                                            }
                                        }
                                        @*<a href="">Potensial istehsal məhsulları</a>*@
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab_panel_block_right">
                        @RenderBody()
                    </div>
                    <div class="clear-both"></div>
                </div>


                <div role="tabpanel" class="tab-pane fade" id="settings">

                    <div class="tab_panel_block_left">

                        <div class="panel-group">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse2">Haqqımda<span class="glyphicon glyphicon-menu-down f-right text-gray" aria-hidden="true"></span></a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapsein">
                                    <ul class="list-group">
                                        <li class="list-group-item"><a data-toggle="collapse" href="" id="personalInfoButton">Şəxsi məlumatlar</a></li>
                                        <li class="list-group-item"><a data-toggle="collapse" href="" id="personalEmail">E-mail</a></li>
                                        <li class="list-group-item"><a data-toggle="collapse" href="" id="personalPhone">Telefon</a></li>
                                        <li class="list-group-item"><a data-toggle="collapse" href="" id="currentPassword">Şifrəni dəyişdir</a></li>
                                        <li class="list-group-item"><a data-toggle="collapse" href="">Qeydiyyatdan imtina</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="tab_panel_block_right">
                        <div class="person_settings" id="personalInfos">
                            <h4 class="text-bold">Şəxsi məlumatlar</h4>
                            <div class="white_fon row">
                                <div class="col-lg-10">
                                    <table>
                                        <tr>
                                            <td>İstifadəçi adı</td>
                                            <td class="userNameEkle">@Model.LoggedInUser.Username</td>
                                        </tr>
                                        @{
                                            if (Model.LoggedInUser.userType_eV_ID == 26)
                                            {
                                                <tr>
                                                    <td>Adı, soyadı</td>
                                                    <td class="aDbbSoyad">@Model.Person.Name @Model.Person.Surname</td>
                                                </tr>
                                                <tr>
                                                    <td>Doğum tarixi</td>
                                                    <td> @Model.Birthday </td>
                                                </tr>
                                                <tr>
                                                    <td>Cinsi</td>
                                                    <td class="gender">@Model.Person.gender</td>
                                                </tr>
                                                <tr>
                                                    <td>Təhsili</td>
                                                    <td class="education">@Model.Education</td>
                                                </tr>
                                                <tr>
                                                    <td>Məsləyi</td>
                                                    <td class="job">@Model.Job</td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                                <div class="col-lg-2">
                                    <img class="img-responsive thumbnail" id="picture" src="" />
                                </div>
                                
                            </div>

                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#updatePerson">Şəxsi Məlumatlara Düzəliş Et</button>

                            <!-- Modal -->
                            <div id="updatePerson" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Şəxsi Məlumatlar</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>İstifadəçi adı</label>
                                                <input type="text" id="upUserName" class="form-control" value="@Model.LoggedInUser.Username"/><br />
                                            </div>
                                            <div class="form-group">
                                                <label>Ad</label>
                                                <input type="text" id="upName" class="form-control" readonly value="@Model.Person.Name"/><br />
                                            </div>
                                            <div class="form-group">
                                                <label>Soyad</label>
                                                <input type="text" id="upSurname" class="form-control" readonly value="@Model.Person.Surname"/><br />
                                            </div>
                                            <div class="form-group">
                                                <label>Doğum Tarixi</label>
                                                <input id="upBirthDate" type="text" class="form-control" readonly value="@Model.Person.birtday"/><br />
                                            </div>
                                            <div class="form-group">
                                                <label>Cinsi</label>
                                                <input type="text" id="upGender" class="form-control" readonly value="@Model.Person.gender"/><br />
                                            </div>
                                            <div class="form-group">
                                                <label>Təhsil</label>
                                                <select id="upEducation" style="width:100%;" class="form-control" >
                                                    <script>
                                                        $.ajax({
                                                            url: "/SpecialSummary/GetEducation",
                                                            type: "Get",
                                                            success: function (data) {
                                                                data.map(function (item) {
                                                                    $("#upEducation").append('<option value =' + item.Id + '>' + item.name + '</option>');

                                                                    $("#upEducation").val(@Model.Person.educationLevel_eV_Id).change();
                                                                })
                                                            },
                                                            error: function (e) {
                                                                console.log(e);
                                                            }
                                                        })
                                                    </script>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>İş</label>
                                                <select id="upJobb" style="width:100%;" class="form-control">
                                                    <script>
                                                        $.ajax({
                                                            url: "/SpecialSummary/GetJob",
                                                            type: "Get",
                                                            success: function (data) {
                                                                data.map(function (item) {
                                                                    $("#upJobb").append('<option value =' + item.Id + '>' + item.name + '</option>');

                                                                    $("#upJobb").val(@Model.Person.job_eV_Id).change();
                                                                })
                                                            },
                                                            error: function (e) {
                                                                console.log(e);
                                                            }
                                                        })
                                                    </script>
                                                </select><br />
                                            </div><br />
                                            <div class="form-group">
                                                <button id="changeDetails" class="btn btn-danger">Təsdiqlə</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="person_settings" id="personalEmail2" style="display:none">
                            <h4 class="text-bold">E-mail</h4>
                            <div class="white_fon">
                                <p>
                                    <br />
                                    Elanlarınız, və mesajlarınız ilə
                                    əlaqəli vacib mesajların sizə çatacağından
                                    əmin olabilmək üçün emailinizin düzgün qeyd olunduğundan emin olun.
                                </p><br />
                                <p>Mövcud email adresiniz: <b><span id="currentEmail">@Model.LoggedInUser.Email</span></b></p><br />

                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#EmailModal">Dəyişdir</button>

                                <!-- Modal -->
                                <div id="EmailModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Emaili Deyişdir</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="email" class="form-control" id="updateEmail" placeholder="Email daxil edin" />
                                                    </div><br />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="updateEmailAction" class="btn btn-danger">Təsdiqlə</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="person_settings" id="personalPhoneMain" style="display:none">
                            <h4 class="text-bold">E-mail</h4>
                            <div class="white_fon">
                                <p>Mövcud mobil telefon nömrəniz: <b><span>@Model.MobilePhone</span></b></p><br />
                                <p>Mövcud iş telefon nömrəniz: <b><span>@Model.WorkPhone</span></b></p><br />

                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#PhoneModal">Dəyişdir</button>

                                <!-- Modal -->
                                <div id="PhoneModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Emaili Deyişdir</h4>
                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("UpdatePhone", "Ordinary", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.WorkPhone, new { @class = "control-label required" })
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <select class="form-control" name="workPhonePrefix">
                                                                        <option value="">Seçim edin</option>
                                                                        @foreach (var item in Model.WorkPhonePrefixList)
                                                                        {
                                                                            <option value="@item.name">@item.description (@item.name)</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(x => x.WorkPhone, new { @class = "form-control numbersOnly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.MobilePhone, new { @class = "control-label" })
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <select class="form-control" name="mobilePhonePrefix">
                                                                        <option value="">Seçim edin</option>
                                                                        @foreach (var item in Model.MobilePhonePrefixList)
                                                                        {
                                                                            <option value="@item.name">@item.description</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control numbersOnly" })
                                                                    @Html.ValidationMessageFor(x => x.MobilePhone, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                        <input type = "submit" class="btn btn-success" value="Davam Et" id="sendChildOrganisationInfo" />
                                                }
                                           
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="person_settings" id="currentPasswordBody" style="display:none">
                            <h4 class="text-bold">E-mail</h4>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Mövcud Şifrə</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="oldPassword" /><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Yeni Şifrə</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="newPassword1" /><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Yeni Şifrə Təkrar</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="newPassword2" /><br />
                                </div>
                            </div><br /><br /><br />
                            <div>
                                <h4 id="wrongPassword" style="color:red;"></h4>
                            </div>
                            <div class="form-group col-md-2 col-md-offset-5">
                                <br />
                                <button id="changePassword" class="btn btn-danger">Təsdiqlə</button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="clear-both"></div>

            </div>

                <div id="contracts" role="tabpanel" class="tab-pane fade">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="success">
                                <th class="col-md-1 text-center">№</th>
                                <th class="col-md-7 text-center">Müqavilənin adı</th>
                                <th class="col-md-2 text-center">Müqavilənin ölçüsü</th>
                                <th class="col-md-2 text-center">Bax</th>
                            </tr>
                        </thead>
                        @if (Model.ContractList != null)
                        {
                            foreach (var cont in Model.ContractList)
                            {
                                numb++;
                            <tbody>
                                <tr class="info text-center">
                                    <td> @numb </td>
                                    <td> @cont.documentRealName </td>
                                    <td> (@Math.Round(((decimal)cont.documentSize / 1024) / 1024, 2)  mb)&nbsp;&nbsp; </td>
                                    
                                    <td><a target="_blank" href="/SpecialSummary/GetContractFile?fname=@cont.documentName">
                                                <div style="cursor:pointer;" class="glyphicon glyphicon-eye-open text-primary"></div>
                                    </a></td>
                                </tr>
                            </tbody>
                            }
                        }
                    </table>

                </div>

        </div>
    </section>



    @Html.Partial("~/Views/Home/Footer.cshtml")  


</body>
</html>