@model Emsal.UI.Models.User
@{
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}

<div class="container col-md-6 col-md-offset-3" style="border-radius: 5px; margin-top: 30px; margin-bottom:30px; box-shadow:1px 1px 2px 3px #ddd">
    <br /><br /><br />

    <h2 style="text-align:center">Qeydiyatı Tamamla</h2>
    <br /><br /><br />
    @using (Html.BeginForm("AddOrganisationInfo", "SignUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.finvoen)
        @Html.HiddenFor(model => model.finvoenType)
        @Html.HiddenFor(model => model.Voen)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.AddressId)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.FutureUserRole)
        @Html.HiddenFor(model => model.Country)
        @Html.HiddenFor(model => model.FullAddress)


        <div class="form-group" style="padding:5px;">
            <label>Şirkət Adı</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "name" })
        </div>

        <p class="text-danger" id="nameAlert"></p><br />
        <hr /><br />
        <h3 class="modal-title">Şirkət Meneceri haqqında məlumatlar</h3><br />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" style="padding:5px">
                        @Html.LabelFor(model => model.ManagerName)
                        @Html.TextBoxFor(model => model.ManagerName, new { @class = "form-control", id = "name" })
                        <p class="text-danger" id="managerNameAlert"></p><br />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="padding:5px">
                        <label>Menecerin soyadı</label>
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", id = "surname" })
                    </div>
                    <p class="text-danger" id="managerNameAlert"></p><br />
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="padding:5px;">
                        <label>Menecerin Ata adı</label>
                        @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control", id = "fatherName" })
                    </div>
                    <p class="text-danger" id="fatherName"></p><br />
                </div>
            </div>
          
          
           
            <div class="form-group" style="padding:5px;">
                <label>Menecer Fin</label>
                @Html.TextBoxFor(x => x.Pin, new { @class = "form-control", id = "pin" })
            </div>
            <p class="text-danger" id="pin"></p><br />
           
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="padding:5px">
                        <label>Menecerin doğum Tarixi</label>
                        <input name="Birthday" type="text" class="form-control datepicker" />
                    </div>
                    <p class="text-danger" id="dateAlert"></p><br />
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="padding:5px">
                        <label>Cinsi</label>
                        <select class="form-control" id="Gender" name="Gender">
                            <option>Cinsi Seçin</option>
                            <option>Kişi</option>
                            <option>Qadın</option>
                        </select>
                    </div>
                    <p class="text-danger" id="genderAlert"></p><br />
                </div>
            </div>

           <div class="row">
               <div class="col-md-6">
                   <div class="form-group" style="padding:5px">
                       <label>Təhsil</label>
                       <select class="form-control" id="education" name="Education">
                           <option>Təhsil Seçin</option>
                           @{
                               if (Model != null)
                               {
                                   foreach (var item in Model.EducationList)
                                   {
                                       <option>@item.name</option>
                                   }
                               }

                           }
                       </select>
                   </div>
                   <p class="text-danger" id="educationAlert"></p><br />
               </div>
               <div class="col-md-6">
                   <div class="form-group" style="padding:5px">
                       <label>İş</label>
                       <select class="form-control" id="Job" name="Job">
                           <option>İş seçin</option>
                           @{
                               if (Model != null)
                               {
                                   foreach (var item in Model.JobList)
                                   {
                                       <option>@item.name</option>
                                   }
                               }

                           }
                       </select>
                   </div>
                   <p class="text-danger" id="jobAlert"></p><br />
               </div>
           </div>

            <div class="col-md-6 col-md-offset-4" style="margin-bottom:20px; padding:5px">
                <input type="submit" class="btn btn-success" value="Qeydiyyatdan Keç" id="sendInfo" />
            </div>
                                        }

    <div class="clearfix" style="height: 20px;"></div>
</div>
