@model Emsal.UI.Models.User
@{
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}
@*@if (TempData["pinIncorrect"] != null)
    {
        <script type="text/javascript">
                $(document).ready(function () {
                    $("#pinModal").modal('show');
                });
        </script>
            <div id="pinModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Məlumat</h4>
                        </div>
                        <div class="modal-body">
                            <p id="successMessage">Fin mömrə düzgün daxil edilməmişdir</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                        </div>
                    </div>
                </div>
            </div>

    }


    @if (TempData["voenIncorrect"] != null)
    {
        <script type="text/javascript">
                $(document).ready(function () {
                    $("#voenModal").modal('show');
                });
        </script>
            <div id="voenModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Məlumat</h4>
                        </div>
                        <div class="modal-body">
                            <p id="successMessage">Vöen düzgün daxil edilməmişdir</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                        </div>
                    </div>
                </div>
            </div>

    }*@
<div class="container col-md-6 col-md-offset-3" style="border-radius: 5px; margin-top: 30px; margin-bottom:30px; box-shadow:1px 1px 2px 3px #ddd">
    <br />

    @{
        if (TempData["UserNameExists"] != null)
        {
            <h4 style="color:red">Bu  istifadəçi adı ilə qeydiyyatdan keçilib. Xahiş olunur başqa ad seçəsiniz.</h4>
        }
        else if (TempData["YouaresignedUp"] != null)
        {
            <h4 style="color:red">Siz artıq qeydiyyatdan keçmisiniz.</h4>
        }
    }<br /><br />


    <h2 style="text-align:center">Qeydiyyatdan Keç</h2>
    <br /><br /><br />
    @using (Html.BeginForm("Index", "SignUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.uid)
        @Html.HiddenFor(model => model.finvoenType)
        @Html.HiddenFor(model => model.lastAdminUnitId)

        <div class="form-group" style="padding:5px">
            <label>İstifadəçi adı</label>
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "username" })
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Şəxsin növü</label>
            <select class="form-control" id="userType" name="UserType">
                @{
                    if (Model.uid != null && Model.uid != "")
                    {
                        if (Model.uid != "")
                        {
                            if (Model.finvoenType == 1)
                            {
                                <option selected value="fizikişexs">Fiziki Şexs</option>
                                    <option value="legalPerson">Hüquqi Şexs</option>
                            }
                            if (Model.finvoenType == 2)
                            {
                                <option value="fizikişexs">Fiziki Şexs</option>
                                    <option selected value="legalPerson">Hüquqi Şexs</option>
                            }
                        }

                    }
                    else
                    {
                        <option value="fizikişexs">Fiziki Şexs</option>
                            <option value="legalPerson">Hüquqi Şexs</option>
                    }
                }
            </select>
        </div>

            <div class="form-group" id="pinDiv" style="padding:5px;">
                @Html.LabelFor(model => model.Pin)  <a data-toggle="modal" data-target="#pinModal"><span class="glyphicon glyphicon-question-sign"></span></a>
                @Html.TextBoxFor(model => model.Pin, new { @class = "form-control", id = "pin" })
                @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="voenDiv" style="padding:5px; display:none;">
                @Html.LabelFor(model => model.Voen)
                @Html.TextBoxFor(model => model.Voen, new { @class = "form-control", id = "voen" })
            </div>
            <div class="form-group" style="padding:5px">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label required" })
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "required", id = "password", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="padding:5px">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label required" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required", id = "email", type = "email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(x => x.MobilePhone, new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-5">
                                <select class="form-control" name="mobilePhonePrefix">
                                    <option value="">Seçim edin</option>
                                    @foreach (var item in Model.MobilePhonePrefixList)
                                    {
                                        <option value="@item.name">@item.description (@item.name)</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control numbersOnly" })
                                @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-md-offset-4" style="margin-bottom:20px">
                <input type="submit" class="btn btn-success" value="Davam Et" />
            </div>
                    }
    <div class="clearfix" style="height: 20px;"></div>
</div>

<script>
    $(".numbersOnly").on("keyup", function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');

        if (this.value.length > 7) {
            this.value = this.value.slice(0, 7);
        }
    })
</script>






<div id="pinModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fin nömrə</h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/img/pasportfin.png" style="max-width:550px" />
            </div>
        </div>
    </div>
</div>



